<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
				
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                       
                        <h3 class="kt-portlet__head-title">
                                            Organization                        
    
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                <!-- <a href="#" class="btn btn-clean btn-icon-sm">
                    <i class="la la-long-arrow-left"></i>
                    Back
                </a> -->
                &nbsp;
                <div class="dropdown dropdown-inline">
                    <!-- <button type="button" class="btn btn-brand btn-icon-sm"   aria-haspopup="true" aria-expanded="false"> -->
                          
                    <!-- </button> -->
              <!-- <button type="button"  (click)='TaskView()' class="button button-fill button-rose"  > <i class="fa fa-angle-left"></i> Back	</button> -->
                 
                </div>
            </div>		</div>
                </div>
    <div class="kt-portlet__head">
    <div class="kt-portlet__head-toolbar">
    <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_1" role="tab">
     
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <polygon points="0 0 24 0 24 24 0 24"/>
      <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
      <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
      </g>
      </svg>                          Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_2" role="tab">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24"/>
            <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"/>
            <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"/>
            </g>
            </svg> 
                            Set Up
      </a>
    </li>
    
    </ul>
    </div>
    </div>
    <div class="kt-portlet__body">
    <form action="" method="" [formGroup]="orgProfileForm" (ngSubmit)="profileSubmit()">
    <div class="tab-content">
    <div class="tab-pane active" id="kt_user_edit_tab_1" role="tabpanel">
      <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
              <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                      <div class="row">
                          <label class="col-xl-3"></label>
                          <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-sm">Organization Info:</h3>
                          </div>
                      </div>
    
    
                      <!-- <label class="hoverable" for="fileInput">
                            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                            <div class="hover-text">Choose file</div>
                            <div class="background"></div>
                          </label>
                          <br/>
                          <input id="fileInput" type='file' (change)="onSelectFile($event)">
                          -->
    
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Logo</label>
                          <div class="col-lg-9 col-xl-6">
                              <div class="kt-avatar kt-avatar--outline kt-avatar--circle-" id="kt_user_edit_avatar">
                                  <div class="kt-avatar__holder"> <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> </div>
                                  <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change Logo">
                                        <i class="fa fa-edit"></i>
                                        <!-- <span *ngIf="url" (click)="delete()" > <i  class="fa fa-times"></i></span> -->
    
                                      <!-- <i class="fa fa-edit"></i> -->
                                      <input id="fileInput" type='file' (change)="onSelectFile($event)" name="profile_avatar" formControlName="avatar" accept=".png, .jpg, .jpeg">
                                  </label>
                                  
                                  <!-- <span (click)="delete()" class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                      <i style="backgroundcolor:black" class="fa fa-times"></i>
                                  </span>
                                  <span (click)="delete()" > <i style="color:black" class="fa fa-times"></i></span>  -->
                              </div>
                          </div>
                      </div>
    
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Organization Name</label>
                          <div class="col-lg-9 col-xl-6">
                              <input class="form-control" type="text" value="" formControlName="org_name"  placeholder="Name" [(ngModel)] = "org.org_name">
                          </div>
                      </div>
                      <div class="error-msg">
                        <!-- <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].value==''"  *ngIf="isFieldValid('email')">Email is required.</div> -->
                        <!-- <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div> -->
                        <!-- <div  *ngIf="isFieldValid('email')">Email is required.</div> -->
                        <!-- <div [hidden]="loginForm.controls['email'].errors.pattern" >
                          ssfssscs                                                                                                                      
                        </div> -->
                        <div *ngIf="orgProfileForm.controls['org_name'].errors && !orgProfileForm.controls['org_name'].pristine" class="error-msg">
                            <div [hidden]="!orgProfileForm.controls['org_name'].errors.required">Required.</div>
                          </div>
                         
                      </div>
                    
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Industry</label>
                          <div class="col-lg-9 col-xl-6">
                                <select2   [data]="industryData" [options]="options" [value]="industryValue"  (valueChanged)="changedIndustry($event)" ></select2>
                           
                          </div>
                      </div>
                    
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Company Address</label>
                          <div class="col-lg-9 col-xl-6">
                              <input class="form-control" type="text" value="" formControlName="adr1" placeholder="Street" [(ngModel)] = "org.adr1">
                          </div>
                          
                      </div>
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label"></label>
                          <div class="col-lg-4 col-xl-4">
                              <input class="form-control" type="text" value="" formControlName="adr2" placeholder="Street" [(ngModel)] = "org.adr2">
                          </div>
                          <div class="col-lg-2 col-xl-2">
                              <input class="form-control" type="text" value="" formControlName="city" placeholder="City">
                          </div>
                         
                      </div>
                      <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Primary Contact</label>
                            <div class="col-lg-3 col-xl-3">
                                <input class="form-control" type="text" value="" formControlName="contact_name"  placeholder="Name">
                            </div>
                            <div class="col-lg-3 col-xl-3">
                                    <input class="form-control" type="email" value="" formControlName="contact_type"  placeholder="Type">
    
                            </div>
                            <div class="error-msg">
                                    <!-- <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].value==''"  *ngIf="isFieldValid('email')">Email is required.</div> -->
                                    <!-- <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div> -->
                                    <!-- <div  *ngIf="isFieldValid('email')">Email is required.</div> -->
                                    <!-- <div [hidden]="loginForm.controls['email'].errors.pattern" >
                                      ssfssscs                                                                                                                      
                                    </div> -->
                                    <div *ngIf="orgProfileForm.controls['contact_type'].errors && !orgProfileForm.controls['contact_type'].pristine" class="error-msg">
                                        <div [hidden]="!orgProfileForm.controls['contact_type'].errors.required">Required.</div>
                                        <div [hidden]="!orgProfileForm.controls['contact_type'].errors.patternInvalid">Enter a valid email or phone</div>
                                      </div>
                                     
                                  </div>
                        </div>
                    
              <div  class="kt-portlet__foot kt-portlet__foot--fit-x">
                  <div  class="kt-form__actions">
                      <div  class="row">
                          <!-- <div data-toggle="tab" role="tab" data-href="#kt_user_edit_tab_2" (click)="nextTab('#kt_user_edit_tab_2')" class="col-lg-10"><button  class="btn btn-success" type="reset">Next</button>
                          </div> -->
                          <!-- <button type="button" class="btn btn-success"  aria-haspopup="true" aria-expanded="false">
                                Next <i class="fa fa-angle-right" style="margin-bottom: 2px;"></i> 	
                        </button> -->
                        <!-- <button type="reset" class="btn btn-success tab-button"> Next <i class="fa fa-angle-right" style="margin-bottom: 2px;margin-left: 2px;"></i> 	
                        </button> -->
                        <button type="reset" class="btn btn-success tab-button" style="width: 92px;"> Next <i class="fa fa-angle-right" style="margin-bottom: 2px;margin-left: 2px;"></i> 	
                        </button>   
                        </div></div></div>
    
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="kt_user_edit_tab_2" role="tabpanel">
      <div class="kt-form kt-form--label-right">
          <div class="kt-form__body">
              <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                      <div class="row">
                          <label class="col-xl-3"></label>
                          <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-sm"></h3>
                          </div>
                      </div>
                     
                      <!-- <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Fiscal Year</label>
                          <div class="col-lg-9 col-xl-6">
                              <select class="form-control">
                                  <option>Select Year</option>
                                  <option value="id">January - December</option>
                                  <option value="msa">April - May</option>
                                  <option value="ca" selected="">March - June</option>
                                 
                               
                              </select>
                          </div>
                      </div> -->
                      <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Country</label>
    
                            <div class="col-lg-9 col-xl-6">
                                            
                                    <!-- <label>Country</label> -->
                                    <select2   [data]="countryData" [options]="options" [value]="countryValue"  (valueChanged)="changedCountry($event)" ></select2>
    
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                  </div>
                      </div>
                       <div class="form-group row">
                    
                          <label class="col-xl-3 col-lg-3 col-form-label">Time Zone</label>
                          <div class="col-lg-9 col-xl-6">
                                <select2   [data]="timeZoneData" [options]="options" [value]="zoneValue"   (valueChanged)="changedTimeZone($event)" ></select2>
                             
                          </div>
                      </div> 
    
                      <!-- <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Time Zone</label>
                            <div class="col-lg-9 col-xl-6">
                                <select class="form-control">
                                    <option data-offset="-39600" value="International Date Line West">(GMT-11:00) International Date Line West</option>
                                    <option data-offset="-39600" value="Midway Island">(GMT-11:00) Midway Island</option>
                                    <option data-offset="-39600" value="Samoa">(GMT-11:00) Samoa</option>
                                    <option data-offset="-36000" value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option data-offset="-28800" value="Alaska">(GMT-08:00) Alaska</option>
                                    <option data-offset="-25200" value="Pacific Time (US &amp; Canada)">(GMT-07:00) Pacific Time (US &amp; Canada)</option>
                                    <option data-offset="-25200" value="Tijuana">(GMT-07:00) Tijuana</option>
                                    <option data-offset="-25200" value="Arizona">(GMT-07:00) Arizona</option>
                                    <option data-offset="-21600" value="Mountain Time (US &amp; Canada)">(GMT-06:00) Mountain Time (US &amp; Canada)</option>
                                    <option data-offset="-21600" value="Chihuahua">(GMT-06:00) Chihuahua</option>
                                    <option data-offset="-21600" value="Mazatlan">(GMT-06:00) Mazatlan</option>
                                    <option data-offset="-21600" value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
                                    <option data-offset="-21600" value="Central America">(GMT-06:00) Central America</option>
                                    <option data-offset="-18000" value="Central Time (US &amp; Canada)">(GMT-05:00) Central Time (US &amp; Canada)</option>
                                    <option data-offset="-18000" value="Guadalajara">(GMT-05:00) Guadalajara</option>
                                    <option data-offset="-18000" value="Mexico City">(GMT-05:00) Mexico City</option>
                                    <option data-offset="-18000" value="Monterrey">(GMT-05:00) Monterrey</option>
                                    <option data-offset="-18000" value="Bogota">(GMT-05:00) Bogota</option>
                                    <option data-offset="-18000" value="Lima">(GMT-05:00) Lima</option>
                                    <option data-offset="-18000" value="Quito">(GMT-05:00) Quito</option>
                                    <option data-offset="-14400" value="Eastern Time (US &amp; Canada)">(GMT-04:00) Eastern Time (US &amp; Canada)</option>
                                    <option data-offset="-14400" value="Indiana (East)">(GMT-04:00) Indiana (East)</option>
                                    <option data-offset="-14400" value="Caracas">(GMT-04:00) Caracas</option>
                                    <option data-offset="-14400" value="La Paz">(GMT-04:00) La Paz</option>
                                    <option data-offset="-14400" value="Georgetown">(GMT-04:00) Georgetown</option>
                                    <option data-offset="-10800" value="Atlantic Time (Canada)">(GMT-03:00) Atlantic Time (Canada)</option>
                                    <option data-offset="-10800" value="Santiago">(GMT-03:00) Santiago</option>
                                    <option data-offset="-10800" value="Brasilia">(GMT-03:00) Brasilia</option>
                                    <option data-offset="-10800" value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
                                    <option data-offset="-9000" value="Newfoundland">(GMT-02:30) Newfoundland</option>
                                    <option data-offset="-7200" value="Greenland">(GMT-02:00) Greenland</option>
                                    <option data-offset="-7200" value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
                                    <option data-offset="-3600" value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
                                    <option data-offset="0" value="Azores">(GMT) Azores</option>
                                    <option data-offset="0" value="Monrovia">(GMT) Monrovia</option>
                                    <option data-offset="0" value="UTC">(GMT) UTC</option>
                                    <option data-offset="3600" value="Dublin">(GMT+01:00) Dublin</option>
                                    <option data-offset="3600" value="Edinburgh">(GMT+01:00) Edinburgh</option>
                                    <option data-offset="3600" value="Lisbon">(GMT+01:00) Lisbon</option>
                                    <option data-offset="3600" value="London">(GMT+01:00) London</option>
                                    <option data-offset="3600" value="Casablanca">(GMT+01:00) Casablanca</option>
                                    <option data-offset="3600" value="West Central Africa">(GMT+01:00) West Central Africa</option>
                                    <option data-offset="7200" value="Belgrade">(GMT+02:00) Belgrade</option>
                                    <option data-offset="7200" value="Bratislava">(GMT+02:00) Bratislava</option>
                                    <option data-offset="7200" value="Budapest">(GMT+02:00) Budapest</option>
                                    <option data-offset="7200" value="Ljubljana">(GMT+02:00) Ljubljana</option>
                                    <option data-offset="7200" value="Prague">(GMT+02:00) Prague</option>
                                    <option data-offset="7200" value="Sarajevo">(GMT+02:00) Sarajevo</option>
                                    <option data-offset="7200" value="Skopje">(GMT+02:00) Skopje</option>
                                    <option data-offset="7200" value="Warsaw">(GMT+02:00) Warsaw</option>
                                    <option data-offset="7200" value="Zagreb">(GMT+02:00) Zagreb</option>
                                    <option data-offset="7200" value="Brussels">(GMT+02:00) Brussels</option>
                                    <option data-offset="7200" value="Copenhagen">(GMT+02:00) Copenhagen</option>
                                    <option data-offset="7200" value="Madrid">(GMT+02:00) Madrid</option>
                                    <option data-offset="7200" value="Paris">(GMT+02:00) Paris</option>
                                    <option data-offset="7200" value="Amsterdam">(GMT+02:00) Amsterdam</option>
                                    <option data-offset="7200" value="Berlin">(GMT+02:00) Berlin</option>
                                    <option data-offset="7200" value="Bern">(GMT+02:00) Bern</option>
                                    <option data-offset="7200" value="Rome">(GMT+02:00) Rome</option>
                                    <option data-offset="7200" value="Stockholm">(GMT+02:00) Stockholm</option>
                                    <option data-offset="7200" value="Vienna">(GMT+02:00) Vienna</option>
                                    <option data-offset="7200" value="Cairo">(GMT+02:00) Cairo</option>
                                    <option data-offset="7200" value="Harare">(GMT+02:00) Harare</option>
                                    <option data-offset="7200" value="Pretoria">(GMT+02:00) Pretoria</option>
                                    <option data-offset="10800" value="Bucharest">(GMT+03:00) Bucharest</option>
                                    <option data-offset="10800" value="Helsinki">(GMT+03:00) Helsinki</option>
                                    <option data-offset="10800" value="Kiev">(GMT+03:00) Kiev</option>
                                    <option data-offset="10800" value="Kyiv">(GMT+03:00) Kyiv</option>
                                    <option data-offset="10800" value="Riga">(GMT+03:00) Riga</option>
                                  
                                </select>
                            </div>
                        </div> -->
                      <!-- <div class="form-group form-group-last row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Tax Basis</label>
                          <div class="col-lg-9 col-xl-6">
                              <div class="kt-radio-inline">
                                  <label class="kt-radio">
                                      <input type="radio" checked=""> Actual
                                      <span></span>
                                  </label>
                                  <label class="kt-radio">
                                      <input type="radio" > Cash
                                      <span></span>
                                  </label>
                                 
                              </div>
                          </div>
                      </div> -->
                  </div>
              </div>
             
              <!-- <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
              <div class="col-lg-9 col-xl-9" style="margin:0px auto;text-align: center;">
                  <button type="submit" class="btn green uppercase" >Save</button>
    
              </div> -->
    
              <div  class="kt-portlet__foot kt-portlet__foot--fit-x"><div  class="kt-form__actions"><div  class="row"><div  class="col-lg-10">
                    <button type="reset" class="btn btn-success" (click)="profileSubmit()">Save</button>
                    <button type="reset" class="btn btn-secondary" style="margin-left:10px;">Cancel</button></div></div></div></div>
              <!-- <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                      <div class="row">
                          <label class="col-xl-3"></label>
                          <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-sm">Security:</h3>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Login verification</label>
                          <div class="col-lg-9 col-xl-6">
                              <button type="button" class="btn btn-label-brand btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Setup login verification</button>
                              <span class="form-text text-muted">
                              After you log in, you will be asked for additional information to confirm your identity and protect your account from being compromised. 
                              <a href="#" class="kt-link">Learn more</a>.
                              </span>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Password reset verification</label>
                          <div class="col-lg-9 col-xl-6">
                              <div class="kt-checkbox-single">
                                  <label class="kt-checkbox">
                                      <input type="checkbox"> Require personal information to reset your password.
                                      <span></span>
                                  </label>
                              </div>
                              <span class="form-text text-muted">
                              For extra security, this requires you to confirm your email or phone number when you reset your password.
                              <a href="#" class="kt-link">Learn more</a>.
                          </span>
                          </div>
                      </div>
                      <div class="form-group row kt-margin-t-10 kt-margin-b-10">
                          <label class="col-xl-3 col-lg-3 col-form-label"></label>
                          <div class="col-lg-9 col-xl-6">
                              <button type="button" class="btn btn-label-danger btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Deactivate your account ?</button>
                          </div>
                      </div>
                  </div>
              </div> -->
    
          </div>
      </div>
    </div>
    
    </div>
    </form>
    </div>
    </div>	</div>
    <!-- end:: Content -->				</div>
    
    