h1.term{
  text-align: center;
  margin: 25px auto;
  font-weight: 500;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: white;
}

.firstp{
  text-align: justify;
  font-size: large;
}

h1.secondh{
  text-align: center;
  font-size: large;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0rem;
}

.thirdp{
  text-align: justify;
}

.container{
  background-color: #2e3e4e !important;
}
