<div class="container">
  <div class="row" style="padding: 7px">
    <h1 class="term">
      <img style="margin-bottom: 25px;width: 250px;" src="../../assets/images/EnforceLogo-white.png"><br>
      Privacy Policy
    </h1>
    <mat-card>
      <div class="firstp">
        <p class="main">Please read the following terms and conditions carefully before downloading or using the Enforce Solutions
          application. These terms and conditions constitute a legal agreement between you (or your
          company/organization) and Enforce Solutions, the owner of the brand ‘Enforce’. By downloading this application, you
          agree to the following terms and conditions.
        </p>
      </div>
    </mat-card>
    <br>
    <mat-accordion>
      <mat-expansion-panel [expanded]="expStatus">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1 class="secondh">End User License Agreement</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="thirdp">Enforce Solutions App is used to manage the attendance of employees within an organization. An employee of an organization can mark his attendance in various ways depending on the employee's role. In-Office Checkin is for Knowledge workers and skilled professionals.
          Place Checkin for Supervisors and Drivers who move from one Location to Location and Sale Persons. ( Enforce app collects location data in the background to verify distance traveled by employees even when the app is closed or not in use.)
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Location Permission</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">Enforce Solutions App Background location capture only takes place when the user of the app performs checkout from a location where the user is prompted with two options. The first option is Checkout If a user selects checkout then the background location is captured until the user has marked a check-in in another location and the user can view travel data on a map. The second option is "end of the day " when the user has confirmed it's the end of the workday.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Scope of license</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">This notice applies to users of Enforce Solutions’s services anywhere in the world, including
            users of Enforce Solutions’s apps, websites, features, or other services. This license granted to you for the
            Licensed Application by Licensor is limited to a personal, limited, non-exclusive and non-transferable
            license to access and use the Services only as expressly permitted in these Terms. The Licensed Application
            can be downloaded on your mobile device running on Android (“Device”). This license does not allow you to
            use the Licensed Application on any other Device that you do not own or control. You may not distribute or
            make the Licensed Application available over a network where it could be used by multiple devices at the
            same time. You may not rent, lease, lend, sell, transfer, redistribute, or sublicense the Licensed
            Application and, if you sell your Device to a third party, you must reset device to factory default or
            remove the Licensed Application from your Device before doing so. You may not copy (except as expressly
            permitted by this license), decompile, reverse-engineer, disassemble, attempt to derive the source code of,
            modify, or create derivative works of the Licensed Application, any updates, any part, or any derivative
            works thereof (except as any foregoing restriction is prohibited by applicable law). Any attempt to do so is
            a violation of the rights of the Licensor and its licensors. If you breach this restriction, you may be
            subject to prosecution and damages.The terms of this license will govern any upgrades provided by Licensor
            that replace and/or supplement the original Licensed Application, unless such upgrade is accompanied by a
            separate license in which case the terms of that license will govern. You are advised not to use this
            Service in a way other than intended personal use on your personal device, as communicated by Licensor. In
            the event of misuse, misconduct or non-compliance, Licensor have right to suspend or stop Services to you.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Consent to use of Data</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            You agree that Licensor may collect and use device usage data, technical data and related information,
            including but not limited to location data, technical information about your equipment, device, system and
            Licensed Application software, and peripherals (including but not limited to usage history such as
            recording, playback or sending) that is gathered periodically to facilitate the provision of software
            updates, product support, and other services to you (if any) related to the Licensed Application. Licensor
            may use this information, as long as it is in a form that does not personally identify you, to improve its
            products or to provide services or technologies to you. The data collected shall strictly not be used for
            any 3rd party ads/ support advertising/ support ads.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Sign Up</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            You need to sign up for this application before you start using the benefits of this Application. By signing
            up, you represent that:
          </p>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span>You accept the Terms of this agreement.</li>
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span>All required information you provide is
              truthful and accurate.</li>
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span>You are 18 years of age or older.</li>
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span>You are capable of entering into a legally
              binding agreement.</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Privacy & Data Security</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            Data privacy & data security is of utmost importance to us. This privacy policy describes how we handle your
            personal information. We collect, use, and share personal information directly related to providing and
            improving the features of the Enforce Solutions application. The data collected shall strictly not be used
            for any 3rd party ads/ support advertising/ support ads.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Collection of Data</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            Information posted on Enforce Solutions is not publicly available unless specifically indicated or if you
            choose to make it public. Our servers are located in India and other parts of the world. Therefore, if you
            choose to provide us with personal information, you are consenting to the transfer and storage of that
            information on our servers. <br /><br />
            We collect and store the following personal information:
          </p>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span><b>Registration/ Sign Up Data</b> Full name,
              email address, mobile number, location information.
            </li>
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span><b>In the ordinary course</b> As the Enforce Solutions app
              runs in background on your device, it periodically transmits your location information. We may also
              collect and update application usage information for your digital attendance device.</li>
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span><b>Mobile application usage information</b> We
              track how, and how often you use our Services. We also collect certain information that your mobile device
              sends when you use them for Services on Google Firebase. This includes information such as your device’s
              model, operating system type and version, and the dates and times of your requests.</li>
            <li><span class="fa-li"><i class="fas fa-bullseye"></i></span><b>Wrong password entered</b> If a wrong
              password is entered (if admin permission is activated by the device owner) the application captures the
              user location and takes a photo using the front camera. This information is stored on the server and can
              be viewed by the user on the dashboard.</li>

            <!-- <li><span class="fa-li" ><i class="fas fa-bullseye"></i></span>Voluntary information but not limited to, when you provide feedback, change your content or email preferences, respond to a survey, or communicate with us.</li> -->
            <!-- <li><span class="fa-li" ><i class="fas fa-bullseye"></i></span>Other information, including users IP address and standard web log information.</li> -->
          </ul>
          <p>In this Privacy Policy, the term "Personal Information" means any information relating to an identified or
            identifiable natural person; an identifiable person is one who can be identified, directly or indirectly, in
            particular by reference to a name, an identification number, or, in certain circumstances, location
            information, and the unique identifier allocated (if the android version is older than Android 9) of each
            mobile device.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Permissions</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            Enforce Solutions asks permissions to access location, storage, camera, admin privileges when user tries to
            login. This information is strictly used to run the application and no data collected, including location
            data is used for any 3rd party ads/ support advertising/ support ads.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Disclosure</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            <b>We don't sell or rent users' personal information to third parties for their marketing
              purposes.</b><br /><br />
            We may disclose personal information to respond to legal requirements, enforce our policies, respond to
            claims that a posting or other content violates other's rights, or protect anyone's rights, property, or
            safety.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Data Security</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            We use a number of mechanisms to protect the security and integrity of your personal information against
            unauthorized access, disclosure or destruction of data. These include internal reviews of our data
            collection, storage and processing practices and security measures, including appropriate encryption and
            physical security measures to guard against unauthorized access to systems where we store personal data. All
            information gathered is securely stored. The database is stored on servers secured behind a firewall; access
            to the servers is password-protected and is strictly limited. However, as effective as our security measures
            are, no security system is impenetrable.<br /><br />
            Unfortunately, no data transmission over the internet can be guaranteed to be completely secure. So, while
            we strive to protect such information, we cannot ensure or warrant the security of any information you
            transmit to us and you do so at your own risk. Once any personal information comes into our possession, we
            will take reasonable steps to protect that information from misuse and loss and from unauthorized access,
            modification or disclosure.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Access, Modification & Deletion</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            You can see, modify or erase your personal information by reviewing your posting or logging into Enforce Solutions mobile application. We delete personal information when we no longer need it for the purposes we
            described earlier. We retain personal information as permitted by law to resolve disputes, enforce our
            policies.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Termination</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            The license is effective until terminated by you or Licensor. Your rights under this license will terminate
            automatically without notice from the Licensor if you fail to comply with any term(s) of this license. Upon
            termination of the license, you shall cease all use of the Licensed Application and destroy all copies, full
            or partial, of the Licensed Application.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Third-Party Materials or Services</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            The Licensed Application may enable access to Licensor's and/or third-party services and websites
            (collectively and individually, "Services"). Use of the Services requires Internet access and use of certain
            Services requires you to accept additional terms. You agree that you may not use the Services without
            acceptance of such additional terms. Certain Services may display, include or make available content, data,
            information, applications or materials from third parties ("Third Party Materials") or provide links to
            certain third party web sites. By using the Services, you acknowledge and agree that the Licensor is not
            responsible for examining or evaluating the content, accuracy, completeness, timeliness, validity, copyright
            compliance, legality, decency, quality or any other aspect of such Third Party Materials or web sites. The
            Licensor, and its officers, affiliates and subsidiaries do not warrant or endorse and do not assume and will
            not have any liability or responsibility to you or any other person for any third-party Services, Third
            Party Materials or web sites, or for any other materials, products, or services of third parties. Third
            Party Materials and links to other web sites are provided solely as a convenience to you. Location data
            provided by any Services is for basic navigational purposes only and is not intended to be relied upon in
            situations where precise location information is needed or where erroneous, inaccurate, time-delayed or
            incomplete location data may lead to death, personal injury, property or environmental damage. The Licensor
            does not guarantee the availability, accuracy, completeness, reliability, or timeliness of location data or
            any other data displayed by any Services. You agree that the Services contain proprietary content,
            information and material that is owned by Licensor and/or its licensors, and is protected by applicable
            intellectual property and other laws, including but not limited to copyright, and that you will not use such
            proprietary content, information or materials in any way whatsoever except for permitted use of the Services
            or in any manner that is inconsistent with the terms of this license or that infringes any intellectual
            property rights of a third party, the Licensor. No portion of the Services may be reproduced in any form or
            by any means. You agree not to modify, rent, lease, loan, sell, distribute, or create derivative works based
            on the Services, in any manner, and you shall not exploit the Services in any unauthorized way whatsoever,
            including but not limited to, using the Services to transmit any computer viruses, worms, trojan horses or
            other malware, or by trespass or burdening network capacity. You further agree not to use the Services in
            any manner to harass, abuse, stalk, threaten, defame or otherwise infringe or violate the rights of any
            other party, and that Licensor is not in any way responsible for any such use by you, nor for any harassing,
            threatening, defamatory, offensive, infringing or illegal messages or transmissions that you may receive as
            a result of using any of the Services. In addition, Services and Third Party Materials that may be accessed
            from, displayed on or linked to from the Devices are not available in all languages or in all countries or
            regions. Licensor makes no representation that such Services and Materials are appropriate or available for
            use in any particular location except than those declared by Licensor through marketing collaterals in
            respective markets. To the extent you choose to use or access such Services and Materials, you do so at your
            own initiative and are responsible for compliance with any applicable laws, including but not limited to
            applicable local laws. Licensor reserves the right to change, suspend, remove, terminate, or disable access
            to any Services at any time without notice. In no event will Licensor be liable for the removal of,
            termination of or disabling of access to any such Services. Licensor may also impose limits on the use of or
            access to certain Services, in any case and without notice or liability.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Indemnification</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            You agree to indemnify, defend, and hold harmless the Licensor from and against any third party claims,
            damages (actual and/or consequential), actions, proceedings, demands, losses, liabilities, costs and
            expenses (including reasonable legal fees) suffered or reasonably incurred by us arising as a result of, or
            in connection with: (i) Your Content, (ii) your unauthorized use of the Services, or products or services
            included or advertised in the Services; (iii) your access to and use of the Services; (iv) your violation of
            any rights of another party; or (v) your breach of these Terms, including, but not limited to, any
            infringement by you of the copyright or intellectual property rights of any third party. We retain the
            exclusive right to settle, compromise and pay, without your prior consent, any and all claims or causes of
            action which are brought against us. We reserve the right, at your expense, to assume the exclusive defense
            and control of any matter for which you are required to indemnify us and you agree to cooperate with our
            defense of these claims. You agree not to settle any matter in which we are named as a defendant and/or for
            which you have indemnity obligations without our prior written consent. We will use reasonable efforts to
            notify you of any such claim, action or proceeding upon becoming aware of it.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Limitation of Liability</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            To the extent not prohibited by law, in no event shall licensor be liable for personal injury or any
            incidental, special, indirect, or consequential damages whatsoever, including, without limitation, damages
            for loss of profits, loss of data, business interruption, or any other commercial damages or losses, arising
            out of or related to your use or inability to use the licensed application, however caused, regardless of
            the theory of liability (contract, tort, or otherwise) and even if licensor has been advised of the
            possibility of such damages. some jurisdictions do not allow the limitation of liability for personal
            injury, or of incidental or consequential damages, so this limitation may not apply to you.
            In no event shall Licensor's total liability to you for all damages (other than as may be required by
            applicable law in cases involving personal injury) exceed the amount of Indian Rupees 699. The foregoing
            limitations will apply even if the above stated remedy fails of its essential purpose.
            As the Services continue to evolve, Licensor at its sole discretion, may modify the terms and conditions of
            this Agreement from time to time with or without prior notice to you by providing you with such modified
            terms and conditions of this Agreement. By using this application after such providing, you agree to such
            modified terms and conditions of this Agreement. If you don’t agree to be bound by the modified Terms then
            you may no longer use the Services.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Governing Law/Waiver</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            These Terms shall be governed by the laws of India. The Courts of law at Mumbai shall have exclusive
            jurisdiction over any disputes arising under this agreement.
            you must commence any legal action against us within one (1) year after the alleged harm initially occurs.
            failure to commence the action within that period shall forever bar any claims or causes of action regarding
            the same facts or occurrence, notwithstanding any statute of limitations or other law to the contrary.
            within this period, any failure by us to enforce or exercise any provision of these terms or any related
            right shall not constitute a waiver of that right or provision.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">General</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            This policy document is applicable as of December 1, 2018. We may update, upgrade, modify (partially &/or
            fully) this policy at any time, with updates taking effect when you next post or after 30 days, whichever is
            sooner. If we or our corporate affiliates are involved in a merger or acquisition, we may share personal
            information with another company, but this policy will continue to apply.
            <br /><br />
            Enforce Solutions handle all personal and sensitive data securely using the modern cryptography (HTTPS)
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br />
      <mat-accordion>
        <mat-expansion-panel [expanded]="expStatus">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1 class="secondh">Developer Information</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="thirdp">
            Enforce Solutions application is developed, owned & run by Enforce Solutions, a limited Liability Partnership
            incorporated under the laws in UAE. For any queries related to Enforce Solutions application contact us at
            admin@enforcesolutions.com
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </div>
  </div>
</div>
