.error-msg{
    color: red;
}


input[type=text].password-autocomplete-disabler {
    position: absolute !important;
    left: -10000px !important;
    top: -10000px !important;
}

// shared css for the login and signup page
// @import "../login/login.component.scss";
.mt-10 a{
    cursor: pointer !important;
}
.forny-form{
    padding: 0px !important;
}
.error-msg{
    text-align: center;
    margin-top: -10px;
    color: red;
}