.margin-right{
    margin-right: 10px;
}
.accordion{
    padding: 15px;
}
.kt-form__label{
    color:black;
}
.form-group{
    color:black;
}
.required-msg {
  color:red;
  margin-top: -11px;
  margin-bottom: 4px;
}
.date-container{
    // background-color: #ffffff;
   // font-weight: bold;
   // font-size: 14px;
    border: none;
    pointer-events: none;
    padding: 10px 12px;
    height: 38px;
}
.btn.default:not(.btn-outline) {
    color: #666;
    background-color: #ccc9;
    border-color: #e1e5ec;
}
.btn i{
    padding: 14px 5px;
    font-size:12px;
}
agm-map {
  height: 300px;
}
.avatar_cancel{
width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px 7px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.avatar_logo{
  z-index: 999;
  right: -6px;
  margin-top: -6px;
}

.table thead th{
    font-size: 16px;
    
}
// padding: 0px 15px !important;
// background-color: #F5F5F5 !important;
// margin-bottom: 0px !important;

// .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover{
//     border:none;
//     background-color: #F5F5F5 !important;
// }
// .nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link, .nav-tabs.nav-tabs-line a.nav-link{
//     padding: 10px 20px;
//     margin-right: 5px !important;
// }
// .modal-dialog {
//     margin-right: -19px !important;
//     top:43px;
//   }
.modal-dialog {
  margin-right: -19px !important;
   top:-23px;
}
.modal.fade{
  opacity:1;
  overflow-y: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  // overflow-y: auto;
  overflow: hidden !important;
}
body.modal-open {
  // height: 100vh;
  overflow: hidden !important;
 position: fixed;


}

.modal .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  // top:40px;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.fade {
  opacity: 0;
  transition: opacity 0.3s linear !important;
}
 .modal-dialog {
  right: -488px;
  // -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  //    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  //      -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  //         transition: opacity 0.3s linear, right 0.3s ease-out;
  // -webkit-transition: left 0.3s ease, right 0.3s ease;
  // transition: left 0.3s ease, right 0.3s ease;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
  // -webkit-transition: left 0.3s ease, right 0.3s ease;
  // transition: left 0.3s ease, right 0.3s ease;
}
.contentHeighs{
  //  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  //  min-height: '-webkit-fill-available' !important;
  right:101%;
  top:22px; 
  width:500px;
  overflow: hidden;
}
.modal-open {
  .main-content  .content .e-content-animation {
transform: none !important;
margin-left: 236px !important;
transition: none !important;
    }
    
  }
.modal-open {
  .content{
transform: none !important;
// margin-left: 236px !important;
transition: none !important;
  }
  
}
.modal__header,
  .modal__footer {
      height: 100px;
  }
  .modal__content,
  .modal__footer {
      position: absolute;
      width: 100%;
  }a
  .modal__content {
      bottom: 100px;
      top: 100px;
      overflow-y: auto;
  }
  .modal__footer {
      bottom: 0;
  }
.button.button-rose {
    color: #fff;
    background-color: #e91e63;
border: none !important;
    border-color: #e91e63;
    width: 95px !important;
    height: 30px !important;
    box-shadow: 0 2px 2px 0 rgba(233,30,99,.14), 0 3px 1px -2px rgba(233,30,99,.2), 0 1px 5px 0 rgba(233,30,99,.12) !important;
  }
  .button.button-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(233,30,99,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(233,30,99,.2) !important;
  }
  table {
    width: 100%;
  }
  .mat-table {
    overflow: auto;
    height: 500px;
    background-color: #f1f4f7;
  }
  .mat-header-row{
    // border-bottom-color: #f0f3ff !important;
    border-bottom-color: #e7ecf1 !important;
    font-size: 13px;
    font-weight: 500;
  }
 .mat-header-cell{
   z-index: 100 !important;
 }
  .mat-footer-row, .mat-header-row, .mat-row{
    // border-bottom-color: #f0f3ff !important;
    border-bottom-color: #e7ecf1 !important;

  }
  .element-row {  
    position: relative;
    border-bottom-color: #f0f3ff !important;
    color: #595d6e !important;;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  .my-custom-class .tooltip-inner {
    background-color: #5d697f;
    // font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: #5d697f;
  }
  .e-datepicker .e-date-wrapper{
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
  //  height: calc(2.25rem + 2px) !important;
  //  padding: 5px .75rem !important;
  padding-left: .75rem !important;
  }
  .mat-cell .cdk-column-project_name .mat-column-project_name .ng-star-inserted{
    color: blue !important;
    cursor: pointer !important;
  }
  
.mat-form-field {
  font-size: 14px;
    width: 130px;
    height: 30px;
  
  
  // height: calc(1.5em + 1rem + 2px);
  // margin:0px 5px;
   margin-bottom: 5px;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
  //  border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // border:1px solid grey;
}
.mat-input-element{
    height: 26px !important;
  padding: 0.375rem 0.75rem;
 // height: calc(1.5em + 1rem) !important;


}
 .mat-icon-button {
  background-color: white !important;
  height: 20px !important;

}
.mat-paginator-icon {
  width: 25px;
  fill: currentColor;
  background-color: white !important;

  /* font-size: 12px; */
}
.status-code{
  margin-right:-85px !important;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background-color: inherit;
}

.status-code-success{
  color: #20c997;

}

.status-code-failed{

  color: red;
}

.status-code-empty{

  color: green; 
}

.dropdown-menu {

  text-align: center !important;

  // margin-left: 34px !important;
  // min-width: 7.5rem !important;
}
.kt-nav .kt-nav__item > .kt-nav__link {

  padding: 0.55rem 0.75rem !important;
 
}


.kt-nav .kt-nav__item > .kt-nav__link .kt-nav__link-text {

    margin-right: 10px !important;
}
.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0px !important;
 
}
.closeBtnIcon{
position: absolute;
right: 5px;
top: 8px;
font: 12px;
font-size: 10px;
font-weight: 100;
color: #959cb6;
cursor: pointer;
}
.intl-tel-input {
  display: block !important;
  width: 100% !important;
}

.flag-container.open + input {
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.disabled{
  pointer-events: none !important;

}
.disableTab  .nav-link,.disableTab  a.nav-link{
 // pointer-events: none !important;
// background-color: black !important;
color:grey !important;
opacity: 0.5 !important;
}
.disableTab a.nav-link.active{
  border-bottom: 1px solid grey !important;

}
.disableTxtInput{

}
input:disabled {
  background: #ccc !important;
  pointer-events: none !important;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #f7f8fa;
  opacity: 1;
}

 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .marginTop{
    margin-top: 10px;
  }
  //CSS
  
}

@media(max-width:1680px){
    .banner-dot {
        min-height: 1050px;
  }
 
}
@media (max-width:1680px)  {
  // .contentHeighs{
  //   right:214%;
  //   width:580px;
  // }
}
@media(max-width:1600px){
    .banner-dot {
     min-height: 800px !important;
     
  }
  // .contentHeighs{
  //   right:179% ;
  //   width:580px ;
  // }
  .clock-picker__wrapper {
    width: 240px;
    height: auto;
    top: 32%;
  }
 
}
@media(max-width:1280px){


}
@media(max-width:1050px){
  .kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item {
    // padding-left: 0.5rem;
   padding: 10px; 
  }
  .text{
    font-size:8px;
  }
}
@media(max-width:1024px){
  .radientBg{
    padding: 45px 65px !important;
  }
  .main-container{
    margin-left: 0px !important;
  }
    // .countDays, .countHours, .countMinutes, .countSeconds {
    // 	width: 24.6%;
    // }
    // .timer_wrap {
    // 	width: 76%;
    // }
    // .countDays, .countHours, .countMinutes, .countSeconds {
    // 	padding: 50px 0;
    // }
    // .newsletter {
    // 	margin: 5em auto 0;
    // }
    // #counter {
    // 	margin-top: 96px;
    // }
    // .callbacks_tabs {
    // 	left: 5%;
    //     top: 270px;
    // }
    // .agileinfo-social-grids {
    // 	right: 5%;
    // 	top: 212px;
  // }

}
@media(max-width:991px){
    h1 {
        font-size: 45px;
        word-spacing: 10px;
    }
    .newsletter h2 {
        font-size: 24px;
    }
}
@media(max-width:800px){
  .kt-demo-panel {
  
    margin-top: 95px !important;
  
  }
    h1 {
        font-size: 45px;
        word-spacing: 3px;
        letter-spacing: 4px;
    }
    .timer_wrap {
        width: 83%;
    }
    .newsletter {
        margin: 1em auto 0em;
    }
    .agileinfo-social-grids {
        right: 4%;
        top: 193px;
    }
    .callbacks_tabs {
        top: 250px;
    }
    .banner-dot {
        min-height: 600px;
    }
    .clock .column {
    font-size: 10px;
        padding: 0px 0;
    }
}

@media(max-width:600px){

    .clock .column {
    font-size: 8px;
       
    }
}
@media(max-width:768px){
    h1 {
        font-size: 37px;
    }
    .timer_wrap {
        width: 83%;
    }
    .agileinfo-social-grids {
        top: 138px;
    }
    .callbacks_tabs {
        top: 188px;
  }
  .kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item {
    // padding-left: 0.5rem;
   padding: 10px; 
  }
  .contentHeighs{
    right: 101%;
  }
  .mapLogModal{
    right: 141%;
  // height: 55vh;
  }
 
  .clock-picker__wrapper {
    top:30% !important; 
   }

  
 
   .clock-picker__time-display__button{
     font: 600 12px Arial, Helvetica, sans-serif !important;
   }
   .clock-picker__nav {
    
     height: 40px !important;
   
   }
  
   // .clock-picker__time-display__button, .clock-picker__time-display__divider {
   //   font: 600 12px Arial,Helvetica,sans-serif !important;
  
   
   // }
   .clock-picker__item-button {
     font: 500 14px Arial,Helvetica,sans-serif !important;
  
   }
   
   .clock-picker__footer {
    
     height: 40px !important;
   
   }
   .clock-picker__circle--hours {
     width: 160px !important;
     height: 160px !important;
   }
 
   .clock-picker__item-button{
       width:60% !important;
     height: 60% !important;
   }
   .clock-picker__circle--minutes{
     width: 160px !important;
     height: 160px !important;
   }
     // position: relative;
     // width:  $circle-size;
     // height: $circle-size;
     // padding: 0;
     // border-radius: 50%; 
     // list-style: none;   
         
     .clock-picker__hours-mode-panel__button,.clock-picker__footer__dialog-control-button {
       font: 400 12px Arial,Helvetica,sans-serif !important;
     }
     .clock-picker__circle--hours > ng-circle-button {
      
     
       $angle: (360 / 12);
       $rot: -60;
   
       @for $i from 1 through 12 {
         &:nth-of-type(#{$i}) {
           transform: 
             rotate($rot * 1deg) 
             translate(80px) 
             rotate($rot * -1deg) !important;
         }
   
         $rot: $rot + $angle;
       }
     }
     .clock-picker__circle--minutes > ng-circle-button {
     
       $angle: (360 / 60);
       $rot: -90;
   
       @for $i from 1 through 60 {
         &:nth-of-type(#{$i}) {
           transform: 
             rotate($rot * 1deg) 
             translate(90px) 
             rotate($rot * -1deg) !important;
         }
   
         $rot: $rot + $angle;
       }
     }
}
@media(max-width:667px){
    h1 {
        word-spacing: 4px;
        letter-spacing: 3px;
    }
    .boxName {
        font-size: 13px;
    }
    .newsletter {
        margin: 4em auto 0;
    }
    .newsletter h2 {
        font-size: 20px;
    }
    .agileinfo-social-grids {
        right: 3%;
    }
}
@media(max-width:640px){

}
@media(max-width:600px){
    h1 {
        font-size: 35px;
    }
    .agileits-timer {
        width: 75%;
    }
    .timer {
        font-size: 5em;
    }
    .timer_wrap {
        width: 88%;
    }
    .newsletter h2 {
        font-size: 17px;
    }
    .newsletter input[type="text"] {
        padding: 11px 15px;
        font-size: 13px;
    }
    .newsletter input[type="submit"] {
        font-size: 0.9em;
        padding: 10px 27px;
    }
    .boxName {
        font-size: 13px;
    }
}
@media(max-width:568px){
 
    h1 {
        letter-spacing: 2px;
    }
    .agileits-timer {
        margin: 3em auto 0;
  }
  
  
}

@media(max-width:480px){
    h1 {
        font-size: 27px;
    }
    .timer {
        font-size: 3em;
    }
    .newsletter h2 {
        font-size: 15px;
    }
    .newsletter input[type="submit"] {
        font-size: 13px;
        padding: 9px 26px;
    }
    .newsletter input[type="text"] {
        padding: 9px 15px;
  }
  .kt-portlet--tabs .nav-tabs.nav-tabs-line .nav-item{
   
    padding:0px 10px;
  
  }
  .kt-demo-panel {
    width: 410px !important;
  }
  .contentHeighs,.mapLogModal{
    right: 24%;
    top: -39px;
    width: 400px;
  }
  
  .clock-picker__wrapper {
   top:47% !important;
    left: 8% !important;
   width:220px !important;
  }

  .clock-picker__time-display__button{
    font: 600 12px Arial, Helvetica, sans-serif !important;
  }
  .clock-picker__nav {
   
    height: 30px !important;
  
  }
 
  // .clock-picker__time-display__button, .clock-picker__time-display__divider {
  //   font: 600 12px Arial,Helvetica,sans-serif !important;
 
  
  // }
  .clock-picker__item-button {
    font: 500 12px Arial,Helvetica,sans-serif !important;
 
  }
  
  .clock-picker__footer {
   
    height: 30px !important;
  
  }
  .clock-picker__circle--hours {
    width: 150px !important;
    height: 150px !important;
  }

  .clock-picker__item-button{
      width:60% !important;
    height: 60% !important;
  }
  .clock-picker__circle--minutes{
    width: 155px !important;
    height: 155px !important;
  }
    // position: relative;
    // width:  $circle-size;
    // height: $circle-size;
    // padding: 0;
    // border-radius: 50%; 
    // list-style: none;   
        
    .clock-picker__hours-mode-panel__button,.clock-picker__footer__dialog-control-button {
      font: 400 12px Arial,Helvetica,sans-serif !important;
    }
    .clock-picker__circle--hours > ng-circle-button {
     
    
      $angle: (360 / 12);
      $rot: -60;
  
      @for $i from 1 through 12 {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate(75px) 
            rotate($rot * -1deg) !important;
        }
  
        $rot: $rot + $angle;
      }
    }
    .clock-picker__circle--minutes > ng-circle-button {
    
      $angle: (360 / 60);
      $rot: -90;
  
      @for $i from 1 through 60 {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate(75px) 
            rotate($rot * -1deg) !important;
        }
  
        $rot: $rot + $angle;
      }
    }
    // .categoryProj{
    //   .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    //     // line-height: 48px;
    //     padding: 0 41.5px  ;
    //   }}
    //   .toggleDept {
    //     .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    //       // line-height: 48px;
    //       padding: 0 12px !important ;
    //     }}
}

@media(max-width:414px){ 

    h1 {
        font-size: 27px;
    }
    .agileits-timer {
        margin: 4em auto 0;
    }
    .newsletter {
        margin: 4em auto 0;
    }
    .newsletter input[type="text"] {
        width: 57%;
        margin-right: 0px;
    }
    .banner-dot {
        min-height: 672px;
    }
    .agileinfo-social-grids {
        top: 105px;
    }
    .callbacks_tabs {
        top: 165px;
    }
    .newsletter input[type="submit"] {
        padding: 9px 26px;
    }
    .agileinfo-social-grids {
        position: inherit;
    }
    .agileinfo-social-grids ul li {
        display: inline-block;
    }
    .agileinfo-social-grids {
        margin: 1em 0 0 0;
    }
    .callbacks_tabs {
        top: 320px;
        left: 45%;
    }
    .callbacks_tabs li {
        display: inline-block;
    }
    .agileits-timer {
        width: 90%;
  }
    .projAcc{
    width: 140px;
  }
  .kt-option .kt-option__label .kt-option__head .kt-option__title {
    font-size: 8px !important;
}
  .contentHeighs,.mapLogModal{
    right: 82%;
   top:22px;
    max-width: 403px;
  }
  .clock-picker__overlay {
    left: -25% !important;
    top: -43px !important;
  }
  .clock-picker__wrapper {
   top:34% !important;
    left: 7% !important;
   
  }
  .categoryProj{
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      // line-height: 48px;
      padding: 0 40px !important ;
    }
  }
  .activityGroup{
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      // line-height: 48px;
      padding: 0 40px !important ;
    }
  }
  .toggleDept {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      // line-height: 48px;
      padding: 0 12px !important;
    }}
}
@media(max-width:384px){
    .newsletter input[type="text"] {
        width: 50%;
    }
    .bg {
        min-height: 537px;
        padding-top: 62px;
    }
    .boxName {
        font-size: 10px;
    }
    .newsletter {
        margin: 2em auto 0;
  }
  .kt-demo-panel {
    width: 360px !important;
  }
  .categoryProj{
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      // line-height: 48px;
      padding: 0 34px ;
    }}
    .activityGroup{
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        // line-height: 48px;
        padding: 0 34px ;
      }
    }
    .toggleDept {
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        // line-height: 48px;
        padding: 0 8px ;
      }}
}
@media(max-width:375px){
    .bg {
        min-height: 539px;
    }
    .newsletter input[type="text"] {
        width: 50%;
    }
    input[type="submit"] {
        font-size: 12px;
    }
    .boxName {
        font-size: 11px;
    }
    .newsletter {
        margin: 3em auto 0;
    }
    .newsletter {
        margin: 3em auto 0;
    }
    .banner-dot {
        min-height: 603px;
    }
    .text {
        font-size: .7em;
  }
  .kt-portlet--tabs .nav-tabs.nav-tabs-line .nav-item{
    padding:0px 2px;
   
  }
  .contentHeighs,.mapLogModal{
    right:75%;
    max-width:365px;
  }
  .categoryProj{
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  // line-height: 48px;
  padding: 0 34px !important;
}}
.activityGroup{
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    // line-height: 48px;
    padding: 0 34px !important ;
  }
}
.toggleDept {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    // line-height: 48px;
    padding: 0 8px !important;
  }}
}

element.style {
  text-align: center;
  /* padding: 10px; */
}
@media(max-width:360px){
  .contentHeighs,.mapLogModal{
    right:74%;
    width:345px;
  }
  .projAcc{
    width: 100px;
  }
  .marginLeft10{
    margin-left: 1px;
  }
  #width115{
    width: 92px !important;
  }

  .clock-picker__overlay {
    left: -17% !important;
    top: -43px !important;}
    .category{
      .nav-pills .nav-item .nav-link, .nav-tabs .nav-item .nav-link {
        padding: 0.75rem 1rem;
       
    }
    }
    .button.button-rose{
      font-size: 8px;
  height: 25px !important;
  width: 92px !important;
    }
}

@media(max-width:320px){
    h1 {
        font-size: 26px;
    }	
    .callbacks_tabs {
        top: 272px;
        left: 44%;
    }
    .timer_wrap {
        width: 96%;
    }
    .newsletter input[type="text"] {
        width: 56%;
        padding: 6px 8px;
    }
    .newsletter input[type="submit"] {
        padding: 6px 14px;
    }
    .copy p {
        font-size: 14px;
        line-height:26px;
        margin: 41px 0px 0px;
    }
    .newsletter h2 {
        font-size: 14px;
    }
    .banner-dot {
        min-height: 545px;
    }
    // .clock .column {
    // 	padding: 12px 0;
    // }
    .timer {
        font-size: 2.5em;
    }
    .text {
        letter-spacing: 0px;
    }
    .clock .column {
        font-size: 8px;
    }
    .bg {
        min-height: 472px;
    }
    .agileits-timer {
        margin: 2em auto 0;
    }
    .callbacks_tabs {
        top: 243px;
        left: 43%;
    }
    .banner-dot {
        min-height: 504px;
  }
  .contentHeighs,.mapLogModal {
    right: 10%;
    width: 305px;
}
.clock-picker__wrapper {
  top: 45% !important;
  left: 15% !important;
}
.clock-picker__overlay {
  left: -11% !important;
 
}
}	
/*--//responsive-design--*/