<div class="row rowMar" *ngIf="!showDetailsActivity">
  <div class="col-12">
    <div class="dateactiondiv">
      <div style="width: 11%;">
        <a (click)="prevday()" class="btn btn-icon-only btn-icon-only btn-default normalCss" id="previousday" style="margin-right: 9px;">
          <i class="fas fa-chevron-left" title="Previous Day"  style=" color: #3f77f4;" ></i>
        </a>
        <a (click)="nextday()" [ngClass]="dateDisable ? 'disable': 'normalCss'" class="btn btn-icon-only btn-icon-only btn-default" id="nextday">
          <i class="fas fa-chevron-right" title="Next Day"  style=" color: #3f77f4;"></i>
        </a>
      </div>
      <div class="dateRange" [formGroup]="datePickerForm">
        <ejs-datepicker  formControlName="date" format='d MMM, y' [max]="maxRangeDate"></ejs-datepicker>
      </div>
    </div>
  </div>

  <div class="col-12">
    <ejs-grid class="rowtabcol" [dataSource]='workForceData' allowTextWrap='true' height="500px">
     <e-columns>
       <e-column field='ondate' headerText='Date' textAlign='' width=80>
         <ng-template #template let-data>
           <span>{{data.ondate | date:'dd/MM/yy'}}</span>
         </ng-template>
       </e-column>
       <e-column field='createdby' headerText='Employee Name' textAlign='' width=120>
         <ng-template #template let-data>
           <span class="link" (click)="seeActivity(data)">{{data.createdby}}</span>
         </ng-template>
       </e-column>

       <e-column field='start_time' headerText='Start Time' textAlign='' width=120>
         <ng-template #template let-data>
           <span>{{data.start_time}}</span>
         </ng-template>
       </e-column>

       <e-column field='end_time' headerText='End Time' textAlign='' width=100>
         <ng-template #template let-data>
           <span>{{data.end_time}}</span>
         </ng-template>
       </e-column>

       <e-column field='total_time' headerText='Total Time (HH:mm)' textAlign='' width=100>
         <ng-template #template let-data>
           <span>{{data.total_time}}</span>
         </ng-template>
       </e-column>

       <e-column headerText='Total Activity' textAlign='' width=50>
        <ng-template #template let-data>
          <span>{{data.trackData?.length}}</span>
        </ng-template>
      </e-column>

     </e-columns>
    </ejs-grid>
  </div>
</div>

<div class="row rowMar" *ngIf="showDetailsActivity">
  <div class="col-12 btnnnn">
    <button type="button" class="button button-fill button-rose" (click)="backtoListing()">Back</button>
  </div>

  <div class="col-4">
    <div class="carrrdd">
      <h1 class="fontddd">Employee Details</h1>
      <p>Track Date: <span>{{detailsOverAllData?.ondate | date:'dd/MM/yy'}}</span></p>
      <p>Start Time: <span>{{detailsOverAllData?.start_time}}</span></p>
      <p>End Time: <span>{{detailsOverAllData?.end_time}}</span></p>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Activity</th>
              <th scope="col">No.</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Active</th>
              <td>{{tableActivityData?.activeCount}}</td>
              <td>{{tableActivityData?.activeTimeTotal}}</td>
            </tr>
            <tr>
              <th>Idle</th>
              <td>{{tableActivityData?.idleCount}}</td>
              <td>{{tableActivityData?.idleTimeTotal}}</td>
            </tr>
            <tr>
              <th>Total (HH:mm)</th>
              <td>{{tableActivityData?.totalCount}}</td>
              <td>{{tableActivityData?.totalTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="carrrdd">
      <div style="display: flex; margin-bottom: 10px;">
        <h1 class="headerffr">Destop Track Details</h1>
        <div>
          <ejs-dropdownlist (change)="changeFilter($event)" [dataSource]='commonFilterValue' [value]="commonSelectedValue" class="ejsDrop" ></ejs-dropdownlist>
        </div>
        <div class="numdiv">
          <p class="marbot0">{{detailsActivityIdleData?.length}}</p>
        </div>
      </div>
      <div class="tableFixHead">
        <table>
          <thead>
            <tr>
              <th style="width:10%">App Icon</th>
              <th style="width:20%">App Name</th>
              <th style="width:50%">App Details</th>
              <th style="width:20%">Time Spend (MM:ss)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userData of detailsActivityIdleData">
              <td>
                <p style="margin-bottom: 0px;" *ngIf="userData.icon === null">Idle</p>
                <img *ngIf="userData.icon !== null" src="{{'data:image/jpg;base64,' + userData.icon}}"/>
              </td>
              <td>{{userData.app_name === "Idle" ? "Idle": userData.app_category_name}}</td>
              <td>{{userData.app_name}}</td>
              <td>{{userData.time_spend}}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
