.card1{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 14px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.rowimp{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.startdiv{
  margin: 20px 25px;
}

.rowcard1{
  background: white;
  padding: 5px 35px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.rowcard{
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.tabseStyle2{
  background: white;
  height: 500px !important;
}

.hremplist{
  width: fit-content;
  position: absolute;
  top: -42px;
  right: 0px;
}

.topbot{
  margin-top: 10px;
  margin-bottom: 10px;
}

.empName{
  cursor: pointer;
  color: blue;
  border-bottom: 1px solid #396dff;
}

.borderCard{
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 70px;
}


.text-pink {
  color: #e91e63 !important;
}
.contactBox{
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  border-radius: 5px;
  margin-top: 15px;
}

.contheader{
  padding: 3px 15px 1px 15px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.statusBox{
  margin-top: 10px;
  border: 1px solid #e9ecef;
  padding: 10px;
}

.pending{
  padding: 5px 7px;
  color: #ff77a9;
  font-weight: 600;
}
.hyperpoint{
  cursor: pointer !important;
}
.approve{
  padding: 5px 7px;
  color: #43a047;
  font-weight: 600;
}

.decline{
  padding: 5px 7px;
  color: #e53935;
  font-weight: 600;
}

.decline-reason {
  margin-left: 10px;
  font-style: italic;
}
.leave-filter {
  margin-bottom: 15px;
}

.radio-option {
  margin-right: 20px;
}

.radio-option input {
  margin-right: 5px;
}


.radio-option span {
  margin-right: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.justalign{
  display: flex;
  width: 100%
}
