.form-group label{
    color: black !important;
}
.e-datepicker .e-date-wrapper{
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
  //  height: calc(2.25rem + 2px) !important;
  //  padding: 5px .75rem !important;
  padding-left: .75rem !important;
  }
  