<div class="mainProfileDiv">
    <div class="row pad2515">
      <div class="col">
        <h1 class="labelMainHeader">Asset Category</h1>
      </div>
      <div class="col addProfilesection">
        <button ejs-button class="btn btnColorAll" (click)="addNewAssetCategory()" *ngIf="assetCategoryListing">Add Asset Category</button>
        <button ejs-button class="btn btnColorAll marlef15" (click)="back()">Back</button>
      </div>
    </div>
    <div class="profiletabGrid">
      <div *ngIf="assetCategoryListing">
        <ejs-grid #vendSatGrid [dataSource]='assetCategoryData' [toolbar]='employeeGridToolItems' (created)="serviceSearchKeyUp" height='300px'>
          <e-columns>
            <e-column field='category' headerText='Category'></e-column>
            <e-column field='category_desc' headerText='Description'></e-column>
            <e-column field='created_by' headerText='Created By'></e-column>
            <e-column field='created_date' headerText='Created Date'>
              <ng-template #template let-data>
                <div>
                  <p style="margin-bottom: 0px;">{{data.created_date | date : "dd/MM/y"}}</p>
                </div>
              </ng-template>
            </e-column>
            <e-column field='modified_by' headerText='Modified By'></e-column>
            <e-column field='modified_date' headerText='Modified Date'>
              <ng-template #template let-data>
                <div>
                  <p style="margin-bottom: 0px;">{{data.modified_date | date : "dd/MM/y"}}</p>
                </div>
              </ng-template>
            </e-column>
           
            <e-column headerText='Action'>
              <ng-template #template let-data>
                <div>
                  <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 16px;cursor: pointer;" placement="top" ngbTooltip="Update this Service" container="body" (click)="editCategoryData(data)"></i>
                  <button class="btn buttonSt btnScc edbtnSt" placement="top" ngbTooltip="Delete this service" container="body"
                      (click)="deleteCategoryData(data)" [disabled] ="data.is_checked" style="margin-top: -8px">
                      <i class="fa fa-trash" aria-hidden="true"  style="font-size: 16px; margin-left: 10px;cursor: pointer;" placement="top"  container="body" ></i>
                </button>
                </div>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
        <div *ngIf="isLoading" class="spinner-overlay">
          <div class="spinner-border text-primary custom-spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="pad2515" *ngIf="!assetCategoryListing">
        <div  [formGroup]="categoryForm">
          <div class="row">
          <div class="col-6" >
            <label class="labelcss">Asset Category</label>
            <input class="e-input" type="text" placeholder="Enter Category" formControlName="category" />
            <div class="errorTxt" *ngIf="categoryForm.controls['category']?.errors?.required ">
              *Asset Category is required
            </div>
          </div>
          <div class="col-6">
            <label class="labelcss">Description</label>
            <textarea class="e-input" rows="1" formControlName="desc" placeholder="Enter Description"></textarea>
          </div>
          
          </div>
<!--          <div formArrayName ="types" *ngIf="isCategoryEmpty && !assetTypeListing" >
            <div *ngFor="let type of types.controls; let i=index"  class="row mb-3" [formGroupName] = 'i' > 
                <div class="col-6">
                    <label class="labelcss">Asset Type</label>
                    <input class="e-input" type="text" placeholder="Enter Type" formControlName="type" />
                    <div class="errorTxt" *ngIf="types.at(i).get('type')?.errors?.required">
                      *Asset Type is required
                    </div>
                </div>
                <div class="col-6" >
                  <label class="labelcss">Description</label>
                  <div class="d-flex align-items-center" >
                  <textarea class="e-input" rows="1" formControlName="description" placeholder="Enter Description"></textarea>
                  <button class="btn buttonSt btnScc edbtnSt"  ngbTooltip="Delete Asset Type" container="body"
                    (click)="removeSkill(i)">
                      <i class="fa fa-trash-o fa-xl" aria-hidden="true"></i>
                  </button>
                  </div>
                </div>
                
                
               
            
               
            
            </div>
            
          </div>
          
        </div> 
        
        
        <div style="margin-top: 20px;">
          <button class='btn btnColorAlll' (click) = "addTypes()" [disabled]="isAddButtonDisabled()">
            AddAssetType
          </button>
        </div>  -->
        <div style="margin-top: 20px;">
          <button class='btn btnColorAlll' (click)="submitStatus()">
            Submit
          </button>
        </div>
      </div>
    </div>
</div>