.mainProfileDiv{
  margin: 0px 15px 15px;
}

.pad2515{
  padding: 25px 15px;
  background: #fff;
  box-shadow: 0 2px 2px rgb(0 0 0 / 3%), 0 1px 0 rgb(0 0 0 / 3%);
}

.labelMainHeader{
  font-size: 20px;
  font-weight: 400;
  font-family: Source Sans Pro,sans-serif;
}

.addProfilesection{
  text-align: end;
}

.btnColorAll{
  background-color: #2e3e4e !important;
  color: #f5f5f6 !important;
  font-weight: 500 !important;
}

.btnColorAlll{
  background-color: #e91e63 !important;
  color: #f5f5f6 !important;
  font-weight: 500 !important;
}

.marlef15{
  margin-left: 15px;
}

.profiletabGrid{
  padding: 20px 20px 0px 20px;
}

.reqbtn{
  display: flex !important;
  border: 1px solid #a3a5ad !important;
  padding: 1px 6px !important;
}

.errorreq{
  margin-top: 5px;
  color: #e92222;
}

.marTopLef{
  margin-top: 3px;
  margin-left: 4px;
}

.buttonSt{
  background-color: #b54269;
  border-color: #b54269;
  color: white;
}

.btnScc{
  display: inline-flex;
 }

 .defaulttag{
  margin-bottom: 0px;
  width: fit-content;
  top: -15px;
  left: 8px;
  padding: 2px 7px;
  background: #2e3e4e;
  color: white;
  font-weight: 500;
  border-radius: 6px;
}

.buttonDiv{
  text-align: end;
  padding: 15px;
  border-top: 2px solid grey;
  margin-top: 30px;
}
