.button.button-rose-new {
  color: #fff;
  background-color: #e91e63;
  border: none !important;
  border-color: #e91e63;
  padding: 5px 20px;
  border-radius: 3px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.button.button-rose-new:hover {
  box-shadow: 0 14px 26px -12px rgba(233,30,99,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(233,30,99,.2) !important;
}

.button.button-rose-round{
  height: fit-content !important;
  padding: 0px 5px 2px !important;
  border-radius: 11px;
  color: #fff;
  background-color: #e91e63;
  border: none !important;
  border-color: #e91e63;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.button.button-rose-round:hover {
  box-shadow: 0 14px 26px -12px rgba(233,30,99,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(233,30,99,.2) !important;
}

.wordtxt{
  margin-bottom: 0px;
  margin-left: 6px;
}

.marbot{
  margin-bottom: 2px !important;
}

.normalFont{
  font-size: 13px;
  font-weight: 500;
}

.esthead{
  margin: auto 0;
  font-size: 18px;
}

.ktmargin{
  margin-left: 15px;
  margin-right: 15px;
}

.marboto{
  margin-bottom: 0px !important;
}

.marleft28{
  margin-left: 28px;
}

.convertbtn{
  font-size: 10px;
  font-weight: 800;
  padding: 8px 15px;
  border-color: #ffdca7;
  background-color: #fff9f0;
  color: #fa9443;
  cursor: pointer;
}

.marBottom{
  margin-bottom: 15px;
}

.wid10{
  width: 20%;
  margin-left: 5px;
}

.marleft8{
  margin-left: 8px;
}

.cobac{
  color: black;
  font-size: 14px;
  font-family: sans-serif;
}

.colred{
  color:red;
}

.martop20{
  margin-top: 20px;
}

.nounit{
  text-align: end;
  padding-right: 53px;
  font-family: 'Roboto';
  font-weight: 500;
}

.txtcent{
  text-align: center;
}

.errortagdup{
  text-align: end;
  padding-right: 53px;
  font-family: 'Roboto';
  font-weight: 500;
  color:red;
}

.tableBorder{
  border: 1px solid #eeeeee;
}

.tableHeader{
  background:#eee;
}

.disflex{
  display: flex;
  margin-bottom: 15px;
}

.labelTagreq{
  width: -webkit-fill-available;
  text-align: end;
  padding-right: 8px;
  margin-top: 2px;
  font-weight: 500;
  color: black;
  font-size: 15px;
}

.labelTagreq2{
  width: -webkit-fill-available;
  margin-top: 2px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 15px;
}

.callsavebtn{
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  margin-bottom: 0px !important;
}

.savest{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 11px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.rowreg{
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
}

.carddiv{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
}

.headercc{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px !important;
}

.prokj{
  font-weight: 600;
  font-size: 14px;
}

.gdddh{
  font-weight: 600;
  font-size: 13px;
}

.bordegh{
  border: 1px solid #cac8c8 !important;
}

.titleheader {
  display:table;
  width:100%;
  max-width:100%;
  margin-bottom: 20px;
}

.titleHeaderDiv {
  display:table-row;
  line-height:1.5em;
  font-size:2em;
  white-space:nowrap;
}

.titleHeaderH {
  font-size: 18px !important;
  font-weight: 500 !important;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  width: 1px;
}

.spacer {
  display:table-cell;
}

.titleHeaderH {
  padding: 0 10px 0px 0px;
}

.spacer:after {
  display: inline-block;
  width: 100%;
  content: ".";
  font-size: 0;
  color: transparent;
  height: 1px;
  background: #ada8a8;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.tabledivmain{
  margin-bottom: 0px;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.commondivsub{
  width: 50%;
  margin-bottom: 0px;
  padding: 6px;
}

.boderright{
  border-right: 1px solid #ddd;
}

.e-headercell {
  background-color: #eeeeee !important;
  border-right: 1px solid #dddddd !important;
}

.e-headercelldiv{
  padding: 0px !important;
}

.hyplink{
  margin-bottom: 2px !important;
  color: blue;
  cursor: pointer;
}

.estdivimp{
  margin-left: 7px;
  margin-bottom: 0px !important;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 400;
}
