.pad2515{
    padding: 25px 15px;
    background: #fff;
    box-shadow: 0 2px 2px rgb(0 0 0 / 3%), 0 1px 0 rgb(0 0 0 / 3%);
  }
  
  .labelMainHeader{
    font-size: 20px;
    font-weight: 400;
    font-family: Source Sans Pro,sans-serif;
  }
  
  .teamDiv{
    text-align: end;
  }
  
  .rowPad{
    padding: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .whitee{
    margin: auto;
    padding: 10px;
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .rowimp{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  .labimp{
    margin-bottom: 0px;
    font-weight: 500;
    font-family: Source Sans Pro,sans-serif;
  }
  
  .marAuto{
    margin: auto 0;
  }
  
  .container{
    background: #f0f0f0 !important;
  }
  
  .btnColorAll{
    background-color: #2e3e4e !important;
    color: #f5f5f6 !important;
    font-weight: 500 !important;
  }
  
  .errorTxt{
    color: #f35b5b;
    background: none;
    border: none;
    padding: 3px;
    margin-bottom: 0px;
  }
  
  .footerdiv{
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    justify-content: flex-end;
  }
  
  .buttonSt{
    background-color: #b54269;
    border-color: #b54269;
    color: white;
  }
  
  .btnScc{
    display: inline-flex;
   }
  
   .commonBtn{
    font-size: 16px;
    margin-top: 4px;
   }
  
   .actionButton{
    color: #2e3e4e !important;
    cursor: pointer;
  }
  
  .disableButton{
    color: #c9c9c9 !important;
    pointer-events: none;
  }
  
  .firstdiv{
    margin-bottom: 10px;
  }
  
  .seconddiv{
    border-top: 1px solid #898d91;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  
  .thirddiv{
    border-top: 1px solid #898d91;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  
  .reqbtn{
    display: flex !important;
    border: 1px solid #a3a5ad !important;
    padding: 1px 6px !important;
  }
  
  
  .extraMargin {
    margin-top: 3rem;
  }
  
  .limTxtInput {
    width: 3.5rem;
    margin: 0.3rem;
  }
  
  
  .labimpn{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 500;
    font-family: Source Sans Pro,sans-serif;
  }
  
  
  .matpointer {
    margin: 5px 6px 0px;
    position: absolute;
    cursor: pointer;
    font-size: 15px;
  }
  
  .labelcheckbox{
    margin-bottom: 0px !important;
    margin-top: -4px !important;
    margin-left: 16px;
    font-weight: 500;
  }
  
  .impe{
    -webkit-text-fill-color: rgba(0,0,0,.42) !important;
    background: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,.42) !important;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.42) 0, rgba(0, 0, 0, 0.42) 33%, transparent 0) !important;
    background-position: bottom -1px left 0 !important;
    background-repeat: repeat-x !important;
    background-size: 4px 1px !important;
    border-bottom-color: rgba(0,0,0,0) !important;
  }
  
  .defaulthjj{
    margin-left: 10px;
    background: #2e3e4e;
    color: white;
    padding: 2px 12px;
    border-radius: 3px;
  }
  