.kt-form__label{
    color:black;
}
.form-group{
    color:black;
}
.button.button-rose {
    color: #fff;
    background-color: #e91e63;
border: none !important;
    border-color: #e91e63;
    width: 95px !important;
    height: 30px !important;
    box-shadow: 0 2px 2px 0 rgba(233,30,99,.14), 0 3px 1px -2px rgba(233,30,99,.2), 0 1px 5px 0 rgba(233,30,99,.12) !important;
  }
  .button.button-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(233,30,99,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(233,30,99,.2) !important;
  }
  .example-container {

  }
  
  .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element{
    background-color:#e0e0e0 !important ;
  }
  input.mat-chip-input {
    width: 100% !important;
    
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}
.ng2-tag-input .ng2-tags-container{
  border: 1px solid #ced4da !important; 
}
.ng2-tag-input{
  border-bottom: none !important;
 // padding: .375rem 1rem !important;

}
.ng2-tag-input .ng2-tags-container{
    padding: .075rem .75rem !important;

}
.ng2-tag-input__text-input{
  height: calc(2.25rem + 2px) !important;
}
delete-icon svg {
   height: 26px !important;
}
tag {
  
  border-radius: 0px !important;
  transition: 0s !important;
 
  height: 26px !important;
  line-height: 26px !important;
 
 
  // padding: 0rem 0.4rem 0.05rem 0.4rem;
  // font-size: 1rem;
  // font-size: 1rem;
  // margin: 0rem 0.4rem 0.1rem 0;
}


.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0;
}
.mat-form-field-infix {
  padding: .5em 0;
  border-top: .84375em solid transparent;
}
.example-chip-list {
  width: 100%;
}
.mat-standard-chip .mat-chip-remove.mat-icon{
  background-color: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    text-align: center
}
  table {
    width: 100%;
  }
  .mat-table {
    overflow: auto;
    height: 500px;
    background-color: #f1f4f7;
  }
  .mat-header-row{
    // border-bottom-color: #f0f3ff !important;
    border-bottom-color: #e7ecf1 !important;
    font-size: 13px;
    font-weight: 500;
  }
  .mat-header-row{
    z-index: 60 !important;
  }
  .mat-footer-row, .mat-header-row, .mat-row{
    // border-bottom-color: #f0f3ff !important;
    border-bottom-color: #e7ecf1 !important;

  }
  .element-row {  
    position: relative;
    border-bottom-color: #f0f3ff !important;
    color: #595d6e !important;;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  .my-custom-class .tooltip-inner {
    background-color: #5d697f;
    // font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: #5d697f;
  }
  
.mat-form-field {
  font-size: 14px;
    width: 130px;
    height: 30px;
  
  
  // height: calc(1.5em + 1rem + 2px);
  // margin:0px 5px;
   margin-bottom: 5px;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
  //  border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // border:1px solid grey;
}
.mat-input-element{
    height: 26px !important;
  padding: 0.375rem 0.75rem;
 // height: calc(1.5em + 1rem) !important;


}
 .mat-icon-button {
  background-color: white !important;
  height: 20px !important;

}
.mat-paginator-icon {
  width: 25px;
  fill: currentColor;
  background-color: white !important;

  /* font-size: 12px; */
}
.status-code{
  margin-right:-85px !important;
}
.toast-top-center {
  display: flex;
  align-items: center;
}
.mat-header-row {
  position: sticky;
  top: 0;
  background-color: inherit;
}
#toast-container{
  right: 50% !important;
}
.toast-top-right {
  
  right: 50% !important;
}
.status-code-success{
  color: #20c997;

}

.status-code-failed{

  color: red;
}

.status-code-empty{

  color: green; 
}

.dropdown-menu {

  text-align: center !important;

  // margin-left: 34px !important;
  // min-width: 7.5rem !important;
}
.kt-nav .kt-nav__item > .kt-nav__link {

  padding: 0.55rem 0.75rem !important;
 
}


.kt-nav .kt-nav__item > .kt-nav__link .kt-nav__link-text {

    margin-right: 10px !important;
}
.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0px !important;
 
}
.closeBtnIcon{
position: absolute;
right: 5px;
top: 8px;
font: 12px;
font-size: 10px;
font-weight: 100;
color: #959cb6;
cursor: pointer;
}
.custom-class-example {
    color: #212529;

}
.custom-class-example .c-btn{
    border: 1px solid #595d6e !important;
}
.custom-class-example .c-token{
    background: #38d574 !important;
}
.custom-class-example .pure-checkbox label::before {
    border-color: #38d574 !important;
}
.custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #38d574 !important;
}
.custom-class-example .selected-list .c-btn{
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    position: relative;
    border: 1px solid #595d6e;
}
$primary: #5628EE;
$lightGrey: #99A3BA;
.switch {
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;
  input {
      display: none;
      & + span {
          padding-left: 50px;
          min-height: 24px;
          line-height: 24px;
          display: block;
          color: $lightGrey;
          position: relative;
          vertical-align: middle;
          white-space: nowrap;
          transition: color .3s ease;
          &:before,
          &:after {
              content: '';
              display: block;
              position: absolute;
              border-radius: 12px;
          }
          &:before {
              top: 0;
              left: 0;
              // width: 42px;
              // height: 24px;
              width: 38px;
              height: 18px;
              background: #E4E8EE;
              transition: all .3s ease;
          }
          &:after {
              // width: 18px;
              // height: 18px;
              width: 12px;
              height: 12px;
              background: #fff;
              top: 3px;
              left: 3px;
              box-shadow: 0 1px 3px rgba(#121621, .1);
              transition: all .45s ease;
          }
          em {
              width: 8px;
              height: 7px;
              background: $lightGrey;
              position: absolute;
              left: 8px;
              bottom: 7px;
              border-radius: 2px;
              display: block;
              z-index: 1;
              transition: all .45s ease;
              &:before {
                  content: '';
                  width: 2px;
                  height: 2px;
                  border-radius: 1px;
                  background: #fff;
                  position: absolute;
                  display: block;
                  left: 50%;
                  top: 50%;
                  margin: -1px 0 0 -1px;
              }
              &:after {
                  content: '';
                  display: block;
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                  border: 1px solid $lightGrey;
                  border-bottom: 0;
                  width: 6px;
                  height: 4px;
                  left: 1px;
                  bottom: 6px;
                  position: absolute;
                  z-index: 1;
                  transform-origin: 0 100%;
                  transition: all .45s ease;
                  transform: rotate(-35deg) translate(0, 1px);
              }
          }
          strong {
              font-weight: normal;
              position: relative;
              display: block;
              top: 1px;
              &:before,
              &:after {
                  font-size: 14px;
                  font-weight: 500;
                  display: block;
                  font-family: 'Mukta Malar', Arial;
                  -webkit-backface-visibility: hidden;
              }
              &:before {
                  content: 'Unlocked';
                  transition: all .3s ease .2s;
              }
              &:after {
                  content: 'Locked';
                  opacity: 0;
                  visibility: hidden;
                  position: absolute;
                  left: 0;
                  top: 0;
                  color: $primary;
                  transition: all .3s ease;
                  transform: translate(2px, 0);
              }
          }
      }
      &:checked {
          & + span {
              &:before {
                  background: #e91e63;
              }
              &:after {
                  background: #fff;
                  transform: translate(18px, 0);
              }
              em {
                  transform: translate(18px, 0);
                  background: $primary;
                  &:after {
                      border-color: $primary;
                      transform: rotate(0deg) translate(0, 0);
                  }
              }
              strong {
                  &:before {
                      opacity: 0;
                      visibility: hidden;
                      transition: all .3s ease;
                      transform: translate(-2px, 0);
                  }
                  &:after {
                      opacity: 1;
                      visibility: visible;
                      transform: translate(0, 0);
                      transition: all .3s ease .2s;
                  }
              }
          }
      }
      &:disabled {
        & + span {
          padding-left: 50px;
          min-height: 24px;
          line-height: 24px;
          display: block;
          color: $lightGrey;
          position: relative;
          vertical-align: middle;
          white-space: nowrap;
          transition: color .3s ease;
          &:before,
          &:after {
              content: '';
              display: block;
              position: absolute;
              border-radius: 12px;
          }
          &:before {
              top: 0;
              left: 0;
              // width: 42px;
              // height: 24px;
              width: 38px;
              height: 18px;
              background: #E4E8EE;
              transition: all .3s ease;
          }
          &:after {
              // width: 18px;
              // height: 18px;
              width: 12px;
              height: 12px;
              background: #fff;
              top: 3px;
              left: 3px;
              box-shadow: 0 1px 3px rgba(#121621, .1);
              transition: all .45s ease;
          }
          em {
              width: 8px;
              height: 7px;
              background: $lightGrey;
              position: absolute;
              left: 8px;
              bottom: 7px;
              border-radius: 2px;
              display: block;
              z-index: 1;
              transition: all .45s ease;
              &:before {
                  content: '';
                  width: 2px;
                  height: 2px;
                  border-radius: 1px;
                  background: #fff;
                  position: absolute;
                  display: block;
                  left: 50%;
                  top: 50%;
                  margin: -1px 0 0 -1px;
              }
              &:after {
                  content: '';
                  display: block;
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                  border: 1px solid $lightGrey;
                  border-bottom: 0;
                  width: 6px;
                  height: 4px;
                  left: 1px;
                  bottom: 6px;
                  position: absolute;
                  z-index: 1;
                  transform-origin: 0 100%;
                  transition: all .45s ease;
                  transform: rotate(-35deg) translate(0, 1px);
              }
          }
          strong {
              font-weight: normal;
              position: relative;
              display: block;
              top: 1px;
              &:before,
              &:after {
                  font-size: 14px;
                  font-weight: 500;
                  display: block;
                  font-family: 'Mukta Malar', Arial;
                  -webkit-backface-visibility: hidden;
              }
              &:before {
                  content: 'Unlocked';
                  transition: all .3s ease .2s;
              }
              &:after {
                  content: 'Locked';
                  opacity: 0;
                  visibility: hidden;
                  position: absolute;
                  left: 0;
                  top: 0;
                  color: $primary;
                  transition: all .3s ease;
                  transform: translate(2px, 0);
              }
          }
      }
    }
  }
}
.kt-radio>input:checked~span {
    border: 1px solid #e91e63;
}
.kt-radio>span:after {
    border: solid #e91e63;
    background: #e91e63;
}
button[disabled]{
  opacity: 0.5 !important;
   cursor:not-allowed;
 }
 .e-datepicker .e-date-wrapper{
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
//  height: calc(2.25rem + 2px) !important;
//  padding: 5px .75rem !important;
padding-left: .75rem !important;
}