.mainProfileDiv{
  margin: 0px 15px 15px;
}

.pad2515{
  padding: 25px 22px;
  background: #fff;
  box-shadow: 0 2px 2px rgb(0 0 0 / 3%), 0 1px 0 rgb(0 0 0 / 3%);
}

.labelMainHeader{
  font-size: 20px;
  font-weight: 400;
  font-family: Source Sans Pro,sans-serif;
}

.addProfilesection{
  text-align: end;
}

.btnColorAll{
  background-color: #2e3e4e !important;
  color: #f5f5f6 !important;
  font-weight: 500 !important;
}


.btnColorAlll{
  background-color: #e91e63 !important;
  color: #f5f5f6 !important;
  font-weight: 500 !important;
}

.marlef15{
  margin-left: 15px;
}

.profiletabGrid{
  padding: 20px 20px 0px 20px;
}

.errorTxt{
  color: #f35b5b;
  background: none;
  border: none;
  padding: 3px;
  margin-bottom: 0px;
}

.labfont{
  font-size: 15px;
  font-weight: 400;
}


.card {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.card {
  cursor: pointer;
  padding-bottom: 15px;
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.viewLogsBtn {
  color: blue;
  cursor: pointer;
  margin: 6px 0px !important;
}

.firstCrdShdw {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 12px;
  background: #f6f3f3;;
}

.impTxt {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin: 2rem;
    font-size: 13px;
}

