<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Subheader -->
  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container  kt-container--fluid ">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                            <button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>

                  Pending requests                            </h3>

                              <span class="kt-subheader__separator kt-hidden"></span>
                  <!-- <div class="kt-subheader__breadcrumbs">
                      <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                                              <span class="kt-subheader__breadcrumbs-separator"></span>
                          <a href="" class="kt-subheader__breadcrumbs-link">
                              Applications                        </a>
                                              <span class="kt-subheader__breadcrumbs-separator"></span>
                          <a href="" class="kt-subheader__breadcrumbs-link">
                              Users                        </a>
                                              <span class="kt-subheader__breadcrumbs-separator"></span>
                          <a href="" class="kt-subheader__breadcrumbs-link">
                              Profile 1                        </a>
                                              <span class="kt-subheader__breadcrumbs-separator"></span>
                          <a href="" class="kt-subheader__breadcrumbs-link">
                              Personal Information                        </a>
                  </div> -->
                      </div>

      </div>
  </div>
  <!-- end:: Subheader -->

            <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

  <!--Begin::App-->
  <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
      <!--Begin:: App Aside Mobile Toggle-->
      <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
          <i class="la la-close"></i>
      </button>
      <!--End:: App Aside Mobile Toggle-->

      <!--Begin:: App Aside-->
      <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
          <!--begin:: Widgets/Applications/User/Profile1-->
  <div class="kt-portlet " style="height: 472px;overflow-y: auto;">
      <div class="kt-portlet__head  kt-portlet__head--noborder" >
          <!-- <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
              </h3>
          </div> -->
         <div class=" kt-portlet--tabs" style="margin-bottom: 16px;">




            <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
            <li class="nav-item" >
              <a class="nav-link active" data-toggle="tab" href="#pending" role="tab">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24"/>
              <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
              <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
              </g>
              </svg>                          Pending
              </a>
            </li>

            <li class="nav-item"
            >
              <a class="nav-link" data-toggle="tab" href="#approved" role="tab">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24"/>
                    <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"/>
                    <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"/>
                    </g>
                    </svg>
                                  Approved
              </a>
            </li>

            </ul>
          </div>

      </div>
      <div class="kt-portlet__body kt-portlet__body--fit-y userProfile">
          <!--begin::Widget -->
          <div  *ngIf="showLeaveLogSpinner"  style="margin-top: 140px;
                 position: absolute;
                 margin-left: 150px;">
                   <div class="kt-spinner kt-spinner--v2 kt-spinner--lg kt-spinner--warning"></div>

                 </div>
           <div class="tab-content">
            <div class="tab-pane active" id="pending" role="tabpanel">
          <div class="kt-widget kt-widget--user-profile-1" *ngFor="let leave of pendingLeaves" style="padding-bottom: 10px;">
              <div [ngClass]="leave.employee_leave_id === activeTabID ? 'activetab' : ''" class="kt-widget__head" style="border-bottom: 1px solid #dfdfdf;padding: 13px;" (click)="leaveDetails(leave.employee_leave_id)">
                  <div class="kt-widget__media" >
                      <img style="    height: 62px;
                      width: 62px;
                      border-radius: 50%;" src="assets/media/users/100_13.jpg" alt="image">
                  </div>
                  <div class="kt-widget__content">
                      <div class="kt-widget__section">
                          <!-- <a href="#" class="kt-widget__username">
                              Jason Muller
                              <i class="flaticon2-correct kt-font-success"></i>
                          </a>
                          <span class="kt-widget__subtitle">
                              Head of Development
                          </span> -->
                          <div class="pr-requester-name" style="cursor: pointer;">
                            <div style="    font-weight: 500;
                            margin-bottom: 5px;
                        ">{{leave.full_name}}</div>
                            <div style="    font-size: 12px;
                            color: #607787;">
                              {{leave.leave_start_date|date :  "d MMM, y"}} - {{leave.leave_end_date|date :  "d MMM, y"}}
                            </div>
                            <div  style="display: flex;margin-top: 2px;">
                              {{leave.leave_days}} day(s)
                              <!-- <span class="pr-leave-type">
                                <span style="background-color: #FEDF88" id="ember2083" class="leave-type-circle ember-view">
            </span>
                                <span>Earned</span>
                              </span> -->
                              <div  style="display: flex;margin-left: 10px;">
                                <div style="background-color: #FEDF88;"  class="leave-circle">
                                </div>
                                <div>{{leave.leave_name}}</div>
                              </div>
                            </div>
                          </div>
                      </div>


                  </div>
              </div>
              <!-- <div class="kt-widget__body">
                  <div class="kt-widget__content">
                      <div class="kt-widget__info">
                          <span class="kt-widget__label">Email:</span>
                          <a href="#" class="kt-widget__data">matt@fifestudios.com</a>
                      </div>
                      <div class="kt-widget__info">
                          <span class="kt-widget__label">Phone:</span>
                          <a href="#" class="kt-widget__data">44(76)34254578</a>
                      </div>
                      <div class="kt-widget__info">
                          <span class="kt-widget__label">Location:</span>
                          <span class="kt-widget__data">Melbourne</span>
                      </div>
                  </div>



              </div> -->
          <!-- </div>
          </div> -->

          </div>
        </div>
        <div class="tab-pane" id="approved" role="tabpanel">
          <div class="kt-widget kt-widget--user-profile-1" *ngFor="let leave of appovedLeaves" style="padding-bottom: 10px;">
              <div [ngClass]="leave.employee_leave_id === activeTabID ? 'activetab' : ''" class="kt-widget__head" style="border-bottom: 1px solid #dfdfdf;padding: 13px;" (click)="leaveDetails(leave.employee_leave_id)">
                  <div class="kt-widget__media" >
                      <img style="    height: 62px;
                      width: 62px;
                      border-radius: 50%;" src="assets/media/users/100_13.jpg" alt="image">
                  </div>
                  <div class="kt-widget__content">
                      <div class="kt-widget__section">
                          <!-- <a href="#" class="kt-widget__username">
                              Jason Muller
                              <i class="flaticon2-correct kt-font-success"></i>
                          </a>
                          <span class="kt-widget__subtitle">
                              Head of Development
                          </span> -->
                          <div class="pr-requester-name" style="cursor: pointer;">
                            <div style="    font-weight: 500;
                            margin-bottom: 5px;
                        ">{{leave.full_name}}</div>
                            <div style="    font-size: 12px;
                            color: #607787;">
                              {{leave.leave_start_date|date :  "d MMM, y"}} - {{leave.leave_end_date|date :  "d MMM, y"}}
                            </div>
                            <div  style="display: flex;margin-top: 2px;">
                              {{leave.leave_days}} day(s)
                              <!-- <span class="pr-leave-type">
                                <span style="background-color: #FEDF88" id="ember2083" class="leave-type-circle ember-view">
            </span>
                                <span>Earned</span>
                              </span> -->
                              <div  style="display: flex;margin-left: 10px;">
                                <div style="background-color: #FEDF88;"  class="leave-circle">
                                </div>
                                <div>{{leave.leave_name}}</div>
                              </div>
                            </div>
                          </div>
                      </div>


                  </div>
              </div>
              <!-- <div class="kt-widget__body">
                  <div class="kt-widget__content">
                      <div class="kt-widget__info">
                          <span class="kt-widget__label">Email:</span>
                          <a href="#" class="kt-widget__data">matt@fifestudios.com</a>
                      </div>
                      <div class="kt-widget__info">
                          <span class="kt-widget__label">Phone:</span>
                          <a href="#" class="kt-widget__data">44(76)34254578</a>
                      </div>
                      <div class="kt-widget__info">
                          <span class="kt-widget__label">Location:</span>
                          <span class="kt-widget__data">Melbourne</span>
                      </div>
                  </div>



              </div> -->
          <!-- </div>
          </div> -->

          </div>
        </div>
        </div>
          <!--end::Widget -->
      </div>
  </div>
  <!--end:: Widgets/Applications/User/Profile1-->
      </div>
      <!--End:: App Aside-->

      <!--Begin:: App Content-->
      <div class="tab-content" style="width: 100%;">
        <div class="tab-pane active"  role="tabpanel" id="kt_user_edit_tab_1">
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                  <div class="col-lg-12 col-xl-6 order-lg-1 order-xl-1">
                    <!--begin:: Widgets/Activity-->
                    <div class=" " style="padding-right: 0px;">
                      <!--begin:: Widgets/Tasks -->
                      <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                        <!-- <div class="kt-portlet__head">
                          <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                              Tasks
                            </h3>
                          </div>

                        </div> -->
                        <div class="kt-portlet__body taskList" style="height: 425px;
                      ">
                          <div >
                            <div  >
                              <div class="kt-widget2" >
                                <div class="kt-widget2__item"
                                  >
                                  <!-- <div class="kt-widget2__checkbox">
                                  <label class="kt-checkbox kt-checkbox--solid kt-checkbox--single">
                                    <input type="checkbox">
                                    <span></span>
                                  </label>
                                </div> -->
                                  <div class="kt-widget2__info"  style="padding: 0.1rem 1rem 0 1rem;cursor: pointer;width:100%"
                                    >
                                    <div class="kt-widget2__username" style="margin-bottom: 10px;">
                                    <span class="" style="    border-color: #ffdca7;
                                    background-color: #fff9f0;
                                    color: #fa9443;
                                    padding: 5px 5px;">{{leaveStatusName}}</span>

                                    </div>
                                    <a class="kt-widget2__title" style="border-bottom: 1px dotted #dfdfdf;
                                    padding-bottom: 15px;font-size: 12px;">
                                     <div style="display: flex;">
                                      <div class="disableSpan">{{appliedBy}} has applied for</div> <div  style="display: flex;margin-left: 10px;">
                                        <div style="background-color: #FEDF88;"  class="leave-type-circle">
                                        </div>
                                        <div>{{leaveName}}</div>
                                      </div>
                                     </div>

                                      <!-- <span style="font-size: 10px;margin-left: 4px;"
                                        [ngClass]="item.status_name  == 'Completed' ? 'status-code-success': (item.status_name  == 'Open' ? 'status-code-failed':'status-code-empty' )">{{item.status_name }}
                                      </span> -->
                                    </a>
                                    <a class="kt-widget2__username" style="padding-top: 15px;font-size: 12px;">
                                      <span class="semi-bold" style="font-weight: bold;" >{{leaveStartDate|date :  "d MMM, y"}}</span>&nbsp;-&nbsp;<span class="semi-bold" style="font-weight: bold;">{{leaveEndDate|date :  "d MMM, y"}}</span>
                  <span class="separator-circle text-muted-light"></span>
                    <span class="text-muted" style="margin-left: 4px;">{{leaveSpan}} Days </span>

                  <p class="text-small" style="margin-top: 4px;">
                    <span class="text-muted"> Applied on </span>
                    {{appliedOn|date :  "d MMM, y"}}
                  </p>

                                     </a>
                                    <a class="kt-widget2__username" >
                                      <div class="leave-comment pending-comment mt20" style="background-color: #f8f9fa;
                                      border: 1px solid #dfdfdf;
                                      padding: 20px;">
                                        {{notes}}
                                      </div>

                                     </a>
                                     <form  [formGroup]="leaveForm">
                                     <a class="kt-widget2__username">

                                      <div class="form-group row" style="margin-top: 14px;">


                                        <div class="col-lg-12 col-xl-12">

                                          <label for="exampleTextarea" >Comments</label>
                                          <!-- <input  class="form-control" placeholder="Enter Name"
                                            formControlName="customer_Name" (keyup)="enableAddAct()"> -->
                                            <!-- <input class="form-control" type="text" value="" formControlName="customer_Name"  placeholder="Name"> -->
                                            <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="desc" (keyup)="commentsEntry($event)" ></textarea>


                                        </div>
                                        <div *ngIf="(declineformSubmitted && commentsValue )">
                                          <label class="e-error" for="date" id="OrderID-info" >*Comments is required</label>

                                          </div>
                                      </div>
                                    </a>

                                      <a class="kt-widget2__username">
                                        <div style="margin-bottom: 4px;" >
                                          Approval Period
                                        </div>
                                        <div class="col-lg-12 col-sm-12" style="background: #fafafa;
                                        border: 1px solid rgba(0, 0, 0, 0.12);
                                        padding: 5px 10px;">

                                          <ejs-daterangepicker  [min]='minDate' [max]='maxDate'  (change)="approveRange($event)" [(value)]='approvalvalue'  placeholder='Range' formControlName="approvalrange" >
                                              <e-presets>
                                                  <e-preset label="Today" [start]='today' [end]='today'></e-preset>


                                              </e-presets>
                                          </ejs-daterangepicker>

                                          <div *ngIf="(addformSubmitted && leaveForm.controls.approvalrange.valid==false)">
                                            <label class="e-error" for="date" id="OrderID-info" >*Date is required</label>

                                            </div>
                                      <!-- </div> -->
                                  </div>

                                      </a>
                                    </form>

                                    <!-- <a class="kt-widget2__username">

              sad
                                    </a>

                                    <a class="kt-widget2__username" style="color:#ffb822">
                                     as


                                    </a> -->
                                  </div>
                                   <!-- <div class="kt-widget2__actions" [ngClass]="disableAddTask? 'disabledDiv':'enabledDiv'">
                                    <a title="Add Activity Log" class="btn btn-clean btn-sm btn-icon btn-icon-md"
                                      (click)="openActivityLog(item)"><i class="fa fa-play"></i></a>
                                  </div>  -->
                                  <!-- <div class="kt-widget2__actions">
                                  <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                                    <i class="flaticon-more-1"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                                    <ul class="kt-nav">
                                      <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                          <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                          <span class="kt-nav__link-text">Reports</span>
                                        </a>
                                      </li>
                                      <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                          <i class="kt-nav__link-icon flaticon2-send"></i>
                                          <span class="kt-nav__link-text">Messages</span>
                                        </a>
                                      </li>
                                      <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                          <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
                                          <span class="kt-nav__link-text">Charts</span>
                                        </a>
                                      </li>
                                      <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                          <i class="kt-nav__link-icon flaticon2-avatar"></i>
                                          <span class="kt-nav__link-text">Members</span>
                                        </a>
                                      </li>
                                      <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                          <i class="kt-nav__link-icon flaticon2-settings"></i>
                                          <span class="kt-nav__link-text">Settings</span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div> -->
                                </div>


                              </div>
                            </div>




                          </div>
                        </div>

                        <div style="    color: #e91e63;
                      text-align: right;
                      border-top: 1px solid #ebedf2;
                      padding: 7px;
                      font-weight: 500;cursor: pointer;

                  ">
                          <!-- <i style=" font-size: 10px;margin-right:5px;font-weight: 500;
                                    " class="flaticon2-plus"  >  </i>Add Task -->
                          <button type="button" *ngIf="leaveStatusName!='Approved'" (click)="approveLeave()" class="button button-fill button-rose" style="width: 100px !important;margin-right: 10px; color: #fff;background-color: #28a745;border-color: #28a745; height: 35px !important; border: none !important; margin-right: 10px; border-radius: 3px; box-shadow: none !important;"
                            aria-haspopup="true" aria-expanded="false">
                              <i class="flaticon2-plus"></i> Approve
                          </button>
                          <button type="reset" class="btn button button-rose" style="padding: 7px 14px; font-size: 14px; margin-top: -5px; margin-right: 10px; height: 35px !important;"
                            *ngIf="leaveStatusName!='Declined'" (click)="declineLeave()">
                            {{leaveStatusName!='Approved'?'Decline':'Cancel'}}
                          </button>

                        </div>


                      </div>
                      <!--end:: Widgets/Tasks -->
                    </div>
                    <!--end:: Widgets/Activity-->
                  </div>
                  <div class="col-lg-12 col-xl-6 order-lg-6 order-xl-1" style="
                  ">

                  <div  >
                    <div *ngIf="showChartSpinner"  style="height: 450px;background-color: white;">
                      <div   style="margin-top: 250px;
                      position: absolute;
                      margin-left: 150px;">
                        <div class="kt-spinner kt-spinner--v2 kt-spinner--lg kt-spinner--warning"></div>

                      </div>
                    </div>

                   <div style="background-color: white;padding:10px 15px;">
                    <ejs-chart *ngIf="!showChartSpinner" #chart id="chart-container" height='250' width='auto'
                    [chartArea]='chartArea'

                   [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip'  [palettes]='palette'>
                     <e-series-collection>
                         <e-series [dataSource]='data2' type='Column' xName='x' yName='days' tooltipMappingName='days'  width=2 enableComplexProperty=true  ></e-series>
                         <e-series [dataSource]='data1' type='Column' xName='x' yName='days' tooltipMappingName='days'  width=2 enableComplexProperty=true></e-series>
                     </e-series-collection>
                 </ejs-chart>
                   </div>

                  <div  *ngIf="!showChartSpinner" style=" background-color: white;">
                    <div style="display: flex;justify-content: space-evenly;padding-bottom: 8px;">
                      <div  style="display: flex;">
                        <div style="background-color: #F6B53F;"  class="leave-circle">
                        </div>
                        <div>Pending</div>
                      </div>
                      <div  style="display: flex;">
                        <div style="background-color: #E94649;"  class="leave-circle">
                        </div>
                        <div>Approved</div>
                      </div>

                    </div>
                    <div style="margin-left: 20px;
                    color: #183247;
                    padding-top: 16px;
                    padding-bottom: 24px;
                    border-top: 1px dotted #dfdfdf;
                    margin-right: 20px;">
                     <h4 style="font-weight: 500;font-size: 15px;">
                      Time Off Consumed
                     </h4>

                <div style="display: flex;justify-content: space-between;margin-top: 15px;">
                  <div  style="display: flex;margin-top: 16px;">
                    <div style="background-color: #FEDF88;"  class="leave-circle">
                    </div>
                    <div>Earned</div>
                  </div>
                  <!-- <div><span style="    color: #31a788;
                    font-weight: 600;padding: 0px 15px;">4</span> of<span style="
                    font-weight: 600;padding: 0px 15px;">36</span> </div> -->
                    <div>
                      <div class="kt-subheader   kt-grid__item" id="kt_subheader"
                        style="padding:0px ;margin:0px !important">

                        <div class="kt-subheader__main">
                          <div style="display: flex;flex-direction:column;">
                            <div class="kt-subheader__title" style="padding-right: 10px;font-size: 12px;">
                              Entitled
                            </div>
                            <div style="color: black;text-align: center">{{earnedLeaves}}</div>
                          </div>
                          <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                          <div style="display: flex;flex-direction:column;">
                            <div class="kt-subheader__title" style="padding-right: 10px;font-size: 12px;">
                              Used
                            </div>
                            <div style="color: black;text-align: center">{{earned_used_leaves}}</div>
                          </div>


                          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                          <div style="display: flex;flex-direction:column;">
                            <div class="kt-subheader__title" style="padding-right: 10px;font-size: 12px; ">
                              Avail
                            </div>
                            <div style="color: black;text-align: center">{{earned_remaining}}</div>
                          </div>

                        </div>


                      </div>
                    </div>
                </div>

                <div style="display: flex;justify-content: space-between;margin-top: 15px;">
                  <div  style="display: flex;margin-top: 16px;">
                    <div style="background-color: #ED9A9B;"  class="casual-leave
                      ">
                    </div>
                    <div>Sick</div>
                  </div>
                  <div>
                    <!-- <span style="    color: #31a788;
                    font-weight: 600;padding: 0px 15px;">2</span> of<span style="
                    font-weight: 600;padding: 0px 15px;">12</span>  -->
                    <div>
                      <div class="kt-subheader   kt-grid__item" id="kt_subheader"
                        style="padding:0px ;margin:0px !important">

                        <div class="kt-subheader__main">
                          <div style="display: flex;flex-direction:column;">
                            <div class="kt-subheader__title" style="padding-right: 10px;font-size: 12px;">
                              Entitled
                            </div>
                            <div style="color: black;text-align: center">{{casualLeaves}}</div>
                          </div>
                          <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                          <div style="display: flex;flex-direction:column;">
                            <div class="kt-subheader__title" style="padding-right: 10px;font-size: 12px;">
                              Used
                            </div>
                            <div style="color: black;text-align: center">{{sick_used_leaves}}</div>
                          </div>


                          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                          <div style="display: flex;flex-direction:column;">
                            <div class="kt-subheader__title" style="padding-right: 10px;font-size: 12px; ">
                              Avail
                            </div>
                            <div style="color: black;text-align: center">{{sick_remaining}}</div>
                          </div>

                        </div>


                      </div>
                    </div>
                    </div>
                </div>
                </div>
                  </div>

                  </div>
                  </div>
                </div>
            </div>
        </div>




        </div>




  </div>
    <div class="row">
    <div class="col col-xl-6 col-lg-12">
  <div class="kt-portlet kt-portlet--mobile">

      <div class="kt-portlet__head kt-portlet__head--lg" style="min-height: 40px !important;" >
          <div class="kt-portlet__head-label">

              <h3 class="kt-portlet__head-title" style="font-size: 12px !important;">
                 Leave History
              </h3>
          </div>

      </div>


       <div class="kt-portlet__body"  style=" border-bottom-color: #f0f3ff;padding-top: -15px;
          color: #595d6e;" >
              <!--begin: Datatable -->
               <!-- <div class="kt-datatable" id="local_data"></div> -->
              <!--end: Datatable -->
              <!-- <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field> -->
                    <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">



                      <ejs-grid #grid [dataSource]='orgleaveHistory' allowTextWrap='true'  height="300px"   allowSorting='true'  [toolbar]='toolbar'

                      >
                      <e-columns>


                        <!-- <e-column field='' headerText='No' textAlign='' width=60>
                          <ng-template #template let-data>
                            <div >{{(data.index)}}</div>

                      </ng-template>
                        </e-column> -->
                          <!-- <e-column field='ondate' headerText='Date' width=90></e-column> -->
                          <!-- <e-column field='rowno' headerText='No' width=60></e-column> -->
                          <e-column field='full_name' headerText='Employee Name' textAlign='' width=120>
                            <ng-template #template let-data>

                                <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                <span>{{data.full_name}}</span>


                        </ng-template>
                          </e-column>
                          <e-column field='leave_name' headerText='Leave Name' textAlign='' width=120>
                            <ng-template #template let-data>

                                <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                <span>{{data.leave_name}}</span>


                        </ng-template>
                          </e-column>
                          <e-column field='leave_start_date' headerText='Start Date' textAlign='' width=120>
                            <ng-template #template let-data>

                                <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                <span>{{data.leave_start_date| date :  "dd/MM/y"}}</span>


                        </ng-template>
                          </e-column>
                          <e-column field='leave_end_date' headerText='End Date' textAlign='' width=120>
                            <ng-template #template let-data>

                                <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                <span>{{data.leave_end_date| date :  "dd/MM/y"}}</span>


                        </ng-template>
                          </e-column>


                          <e-column field='leave_status_name' headerText='Status' width=100></e-column>
                          <e-column field='leave_type_name' headerText='Leave Type' width=90></e-column>



                          <e-column field='start_date' headerText='Days' textAlign='' width=90>
                            <ng-template #template let-data>

                                <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                <span>{{data.leave_days}}</span>


                        </ng-template>
                          </e-column>

                          <!-- <e-column field='completed_date' headerText='Completed Date' textAlign='' width=120>
                            <ng-template #template let-data>

                                <span>{{data.completed_date| date:'MM/dd/yyyy'}}</span>

                        </ng-template>
                          </e-column> -->
                          <!-- <e-column field='total_hrs' headerText='Total Hours' textAlign='' width=90></e-column> -->

                          <!-- <e-column field='workemail' headerText='Ship Name' textAlign='Left' width=120></e-column> -->
                      </e-columns>
                      </ejs-grid>

                      <!-- <ejs-pager #pager [totalRecordsCount]="pgData.length" [currentPage]="currentPage" [pageSize]= "pageSize" [pageSizes]="true" (dropDownChanged)="changed($event)" (click)="click($event)"></ejs-pager> -->
                    </div>


          </div>

    </div>

    </div>
    <div class="col col-xl-6 col-lg-12">
      <div class="kt-portlet kt-portlet--mobile">

          <div class="kt-portlet__head kt-portlet__head--lg" style="min-height: 40px !important;">
              <div class="kt-portlet__head-label">

                  <h3 class="kt-portlet__head-title" style="font-size: 12px !important;">
                     Leave Log
                  </h3>
              </div>

          </div>


           <div class="kt-portlet__body"  style=" border-bottom-color: #f0f3ff;padding-top: -15px;
              color: #595d6e;" >
                  <!--begin: Datatable -->
                   <!-- <div class="kt-datatable" id="local_data"></div> -->
                  <!--end: Datatable -->
                  <!-- <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field> -->
                        <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">



                          <ejs-grid #grid allowTextWrap='true'  [dataSource]='leaveLog' height="300px"  allowSorting='true' [toolbar]='toolbar'

                          >
                          <e-columns>


                            <!-- <e-column field='' headerText='No' textAlign='' width=60>
                              <ng-template #template let-data>
                                <div >{{(data.index)}}</div>

                          </ng-template>
                            </e-column> -->
                              <!-- <e-column field='ondate' headerText='Date' width=90></e-column> -->
                              <!-- <e-column field='rowno' headerText='No' width=60></e-column> -->
                              <!-- <e-column field='full_name' headerText='Employee Name' textAlign='' width=120>
                                <ng-template #template let-data>

                                    <span>{{data.full_name}}</span>


                            </ng-template>
                              </e-column> -->
                              <e-column field='start_date' headerText='Start Date' textAlign='' width=120>
                                <ng-template #template let-data>

                                    <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                    <span>{{data.start_date| date :  "dd/MM/y"}}</span>


                            </ng-template>
                              </e-column>
                              <e-column field='end_date' headerText='End Date' textAlign='' width=120>
                                <ng-template #template let-data>

                                    <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                    <span>{{data.end_date| date :  "dd/MM/y"}}</span>


                            </ng-template>
                              </e-column>


                              <e-column field='leave_type' headerText='Leave Type' width=100></e-column>
                              <e-column field='leave_status_name' headerText='Status' width=100></e-column>



                              <e-column field='no_of_days' headerText='Days' textAlign='' width=90>
                                <ng-template #template let-data>

                                    <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                    <span>{{data.no_of_days}}</span>


                            </ng-template>
                              </e-column>
                              <e-column field='from_user' headerText='From' textAlign='' width=90>
                                <ng-template #template let-data>

                                    <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                    <span>{{data.from_user}}</span>


                            </ng-template>
                              </e-column> <e-column field='to_user' headerText='To' textAlign='' width=90>
                                <ng-template #template let-data>

                                    <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                    <span>{{data.to_user}}</span>


                            </ng-template>
                              </e-column>
                              <!-- <e-column field='completed_date' headerText='Completed Date' textAlign='' width=120>
                                <ng-template #template let-data>

                                    <span>{{data.completed_date| date:'MM/dd/yyyy'}}</span>

                            </ng-template>
                              </e-column> -->
                              <!-- <e-column field='total_hrs' headerText='Total Hours' textAlign='' width=90></e-column> -->

                              <!-- <e-column field='workemail' headerText='Ship Name' textAlign='Left' width=120></e-column> -->
                          </e-columns>
                          </ejs-grid>

                          <!-- <ejs-pager #pager [totalRecordsCount]="pgData.length" [currentPage]="currentPage" [pageSize]= "pageSize" [pageSizes]="true" (dropDownChanged)="changed($event)" (click)="click($event)"></ejs-pager> -->
                        </div>


              </div>

        </div>

        </div>
    </div>

    </div>
		</div>

