<!-- <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700"
/> -->
<!--end::Fonts -->
<!--begin::Page Vendors Styles(used by this page) -->
<!-- <link
  href="../../../../assets/plugins/custom/fullcalendar/fullcalendar.bundle.css"
  rel="stylesheet"
  type="text/css"
/> -->
<!--end::Page Vendors Styles -->
<!--begin::Global Theme Styles(used by all pages) -->
<!-- <link
  href="../../../../assets/plugins/global/plugins.bundle.css"
  rel="stylesheet"
  type="text/css"
/>-->
<link href="../../../../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

 <div style="margin-left:235px;" class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer" style="padding: 8px 0px !important;">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-footer__copyright" >
			{{getCurrentYear}}&nbsp;&copy;&nbsp;<a target="_blank" class="kt-link">Enforce</a>
		</div>
		<div class="kt-footer__menu">
			<a  target="_blank" class="kt-footer__menu-link kt-link">About</a>
			<a  target="_blank" class="kt-footer__menu-link kt-link">Team</a>
			<a  target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
		</div>
	</div>
</div>

<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
  <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->
