<!-- begin:: Subheader -->
<link href="../../../assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
				
               Set Up                           </h3>

                            <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                                            <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a  class="kt-subheader__breadcrumbs-link">
                            Designation                        </a>
                                            <span *ngIf="showAddForm && !editable" class="kt-subheader__breadcrumbs-separator"></span>
                        <a  *ngIf="showAddForm && !editable" class="kt-subheader__breadcrumbs-link">
                              Add Designation                    </a>
                                            <span *ngIf="editable  && !showDeptList" class="kt-subheader__breadcrumbs-separator"></span>
                        <a  *ngIf="editable && !showDeptList" class="kt-subheader__breadcrumbs-link">
                              Edit Designation                          </a>
                                        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                </div>
                    </div>
        <!-- <button type="button"  (click)='goBack()' class="button button-fill button-rose"  > <i class="fa fa-angle-left"></i> Back	</button> -->

       
    </div>
</div>
<!-- end:: Subheader -->

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
											
    
                        
                        <!-- begin:: Content -->
        <div *ngIf="showDeptList" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
           
    
    <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <!-- <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-line-chart"></i>
                        </span> -->
                        <h3 class="kt-portlet__head-title">
                                Designation
                        </h3>
                        <!-- <button  type="button" class="button button-fill button-rose" (click)="generatePDF()">PDF</button> -->

                    </div>
                    <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <div class="dropdown dropdown-inline">
                            <!-- <button type="button" class="button button-fill button-rose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-download"></i> Export  	
                            </button> -->
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <ul class="kt-nav">
                                  
                                    <li class="kt-nav__item">
                                        <a (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Hifza'}})" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                            <span class="kt-nav__link-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                            <a (click)="exporter.exportTable('json')" class="kt-nav__link">
                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                <span class="kt-nav__link-text">PDF</span>
                                            </a>
                                        </li>
                                                        <!-- <li class="kt-nav__item">
                                                            <a (click)="exporter.exportTable('csv')" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>                                                                                    
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a (click)="exporter.exportTable('txt')" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">TXT</span>
                                                            </a>
                                                        </li> -->
                                

                                </ul>
                            </div>
                        </div>
                        &nbsp;
                        <div class="dropdown dropdown-inline">
                                <button type="button" class="button button-fill button-rose"  (click)='AddForm()' aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon2-plus" ></i> Add New  	
                                    </button>
        <button type="button" style="margin-left: 10px;"  (click)='goBack()' class="button button-fill button-rose"  > <i class="fa fa-angle-left"></i> Back	</button>

                      
                        </div>
                    </div>	
                    </div>		</div>
                   
                </div>
    
                <div class="kt-portlet__body"  style=" border-bottom-color: #f0f3ff;
                color: #595d6e;" >
                    <!--begin: Datatable -->
                     <!-- <div class="kt-datatable" id="local_data"></div> -->
                    <!--end: Datatable -->
                    <!-- <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                          </mat-form-field> -->

                          
                          <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="kt_table_1_length">
                                              
                                                </div></div>
                                              
      
                                                <!-- <div class="col-sm-12 col-md-6"><div id="kt_table_1_filter" class="dataTables_filter"><label>Search: <mat-form-field>
                                                        <input matInput [(ngModel)]="searchField" class="form-control" (keyup)="applyFilter($event.target.value)"  >
                                                        <i class="fa fa-close closeBtnIcon"  (click)="clearSearchField()" *ngIf="searchField" ></i>
                                                      </mat-form-field > </label></div></div> -->
                                            </div>
                                <!-- <div style="display: flex;">
                                        <label style="margin-top:5px;margin-right: 5px;">Search:</label> 
                                        <mat-form-field>
                                            <input matInput class="form-control" (keyup)="applyFilter($event.target.value)"  >
                                          </mat-form-field> 
                                    </div> -->
                                    <ejs-grid #grid [dataSource]='dataSource' height="315px" [searchSettings]='searchOptions'   allowSorting='true' [sortSettings]='initialSort' [toolbar]='toolbar'  (toolbarClick)='toolbarClick($event)'
                                            [allowExcelExport]='true' [allowPdfExport]='true'   >
                                              <e-columns>
                                                  
                                                     
                                                <!-- <e-column field='rowno' headerText='No' width=60></e-column> -->
 
                                                <e-column field='designation_name' headerText='Designation Name' textAlign='' width=150>
                                                    <ng-template #template let-data>
                                                      
                                                        <div>{{data.designation_name}}</div>
                                                </ng-template>
                                                  </e-column>
                                                  <!-- <e-column field='ondate' headerText='Date' width=90></e-column> -->
                            
                                                  <e-column field='alias' headerText='Mail Alias' textAlign='' width=120>
                                                    <ng-template #template let-data>
                                                      
                                                        <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                                        <span>{{data.alias}}</span>
                                                         
                                                                  
                                                </ng-template>
                                                  </e-column>
                                                  <e-column field='dep_name' headerText='Department Name' textAlign='' width=120>
                                                    <ng-template #template let-data>
                                                      
                                                        <!-- <button mat-menu-item (click)="openDialog(element)">Edit</button> -->
                                                        <span style="text-transform: capitalize;">{{data.dep_name}}</span>
                                                         <!-- <div style="font-size: 11px;">Customer</div> -->
                                                                  
                                                </ng-template>
                                                  </e-column>

                                                 
                            
                                                
                                              
                                                  
                                                  <!-- <e-column field='total_hrs' headerText='Total Hours' textAlign='' width=90></e-column> -->
                                                  <e-column type='' textAlign='' headerText='Action'  width='90'>
                                                      <ng-template #template let-data>
                                                        <!-- <span style="color:blue;cursor: pointer;" (click)="openDialog(data.lat,data.lang,data.project_or_comp_name)">View Location</span> -->
                                                        <a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="desgnEdit(data.id)"> <i class="la la-edit"></i> </a>
                                 
                                <a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="desgnDelete(data.id)"><i class="la la-trash"></i>						</a>
                                              
                                                      </ng-template>
                                                  </e-column>
                                                  <!-- <e-column field='workemail' headerText='Ship Name' textAlign='Left' width=120></e-column> -->
                                              </e-columns>
                                              </ejs-grid>
                                              <!-- <ejs-pager #pager [totalRecordsCount]="pgData.length" [currentPage]="currentPage" [pageSize]= "pageSize" [pageSizes]="true" (dropDownChanged)="changed($event)" (click)="click($event)"></ejs-pager> -->
                  
                        </div>
        
                </div>
    </div>
  </div>

    <div *ngIf="showAddForm" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
           
 
                        <div class="row">
                    <div class="col-lg-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                         
                                    <div class="kt-portlet__head kt-portlet__head--lg">
                                            <div class="kt-portlet__head-label">
                                                <!-- <span class="kt-portlet__head-icon">
                                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                                </span> -->
                                                <h3 class="kt-portlet__head-title">
                                                        Designation
                                                </h3>
                                            </div>
                                            <div class="kt-portlet__head-toolbar">
                                                <div class="kt-portlet__head-wrapper">
                                        <!-- <a href="#" class="btn btn-clean btn-icon-sm">
                                            <i class="la la-long-arrow-left"></i>
                                            Back
                                        </a> -->
                                        &nbsp;
                                        <div class="dropdown dropdown-inline">
                                                <button type="button" class="button button-fill button-rose"  (click)='DesgnView()' aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-angle-left" style="margin-bottom: 2px;"></i> Back	
                                                </button>
                                      
                                        </div>
                                    </div>		</div>
                                       
                                   
                            </div>

                            <!--begin::Form-->
                            <form class="kt-form kt-form--label-right"  [formGroup]="desgnForm">
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label >Department:</label>

                                            <!-- <select class="form-control">
                                                <option>Select Department Type</option>
                                                <option value="id" selected>HR</option>
                                                <option value="msa" >Finance</option>
                                                <option value="ca">Group</option>
                                               
                                              
                                            </select> -->
                                            <select2 id="selWidth" ngDefaultControl  [data]="departmentLeadData" [options]='deptOptions' formControlName="departmentLead"  [value]="departmentLeadValue"    (valueChanged)="changedLead($event)" ></select2>
                                            <div class="error-msg"  *ngIf="((editformSubmitted || addformSubmitted) &&   departmentLeadValue=='')">Required.</div>

                                        </div>
                                          
                                            <!-- <span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your full name.</span> -->
                                      
                                    </div>	
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Designation Name:</label>
                                            <input type="email" class="form-control" placeholder="Enter Designation name" formControlName="desgnName">
                                        <!-- <div class="error-msg"  *ngIf="isFieldValid('desgnName')">Required.</div> -->
                      <div *ngIf="((editformSubmitted || addformSubmitted) &&  desgnForm.get('desgnName').status=='INVALID')" style="color: red;">Required</div>
                                            
                                            <!-- <span class="form-text text-muted">Please enter your department name</span> -->
                                        </div>

                                        <!-- <div class="col-lg-6">
                                            <label class="">Last Name:</label>
                                            <input type="email" class="form-control" placeholder="Enter last name">
                                            <span class="form-text text-muted">Please enter your last name</span>
                                        </div> -->
                                    </div>	 
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Mail Alias:</label>
                                            <div class="kt-input-icon">
                                                <input type="text" class="form-control" placeholder="Enter Mail Alias" formControlName="aliasName">
                                            </div>
                                            <!-- <span class="form-text text-muted">Please enter your Email ID</span> -->
                                        </div>
                                        
                                    </div>	 
                               
                                           
                                </div>
                                <div class="kt-portlet__foot kt-portlet__foot--fit-x">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <!-- <div class="col-lg-2"></div> -->
                                            <div class="col-lg-10">
                                                    <span *ngIf="AddNewSubmit">
                                                            <button type="reset" style="margin-right:10px;"  class="btn btn-success" (click)=" onAddNewSubmit($event)">Submit & New</button>
                                                        </span>
                                                    <button type="reset" class="btn btn-success" (click)="editable ? onEditSubmit($event) : onAddSubmit($event)">Submit</button>

                                                    <!-- <button type="reset" class="btn btn-success" (click)="desgnSubmit()">Submit</button> -->
                                                    <button type="reset" class="btn btn-secondary" (click)='DesgnView()' style="margin-left:10px;">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                           
                        </div>
                        <!--end::Portlet-->
                
                        <!--begin::Portlet-->
                    
                        <!--end::Portlet-->
                
                        <!--begin::Portlet-->
                          <!-- <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        3 Columns Form Layout
                                    </h3>
                                </div>
                            </div>
                          <form class="kt-form kt-form--label-right">
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label>Full Name:</label>
                                            <input type="email" class="form-control" placeholder="Enter full name">
                                            <span class="form-text text-muted">Please enter your full name</span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="">Email:</label>
                                            <input type="email" class="form-control" placeholder="Enter email">
                                            <span class="form-text text-muted">Please enter your email</span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Username:</label>
                                            <div class="input-group">
                                                  <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <span class="form-text text-muted">Please enter your username</span>
                                        </div>
                                    </div>	  
                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label class="">Contact:</label>
                                            <input type="email" class="form-control" placeholder="Enter contact number">
                                            <span class="form-text text-muted">Please enter your contact</span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="">Fax:</label>
                                            <div class="kt-input-icon kt-input-icon--right">
                                                <input type="text" class="form-control" placeholder="Fax number">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-info-circle"></i></span></span>
                                            </div>
                                            <span class="form-text text-muted">Please enter fax</span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Address:</label>
                                            <div class="kt-input-icon kt-input-icon--right">
                                                <input type="text" class="form-control" placeholder="Enter your address">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                            </div>
                                            <span class="form-text text-muted">Please enter your address</span>
                                        </div>
                                    </div>	  
                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label class="">Postcode:</label>
                                            <div class="kt-input-icon kt-input-icon--right">
                                                <input type="text" class="form-control" placeholder="Enter your postcode">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                                            </div>
                                            <span class="form-text text-muted">Please enter your postcode</span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="">User Group:</label>
                                            <div class="kt-radio-inline">
                                                <label class="kt-radio kt-radio--solid">
                                                    <input type="radio" name="example_2" checked value="2"> Sales Person
                                                    <span></span>
                                                </label>
                                                <label class="kt-radio kt-radio--solid">
                                                    <input type="radio" name="example_2" value="2"> Customer
                                                    <span></span>
                                                </label>
                                            </div>
                                            <span class="form-text text-muted">Please select user group</span>
                                        </div>
                                    </div>	                
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-8">
                                                <button type="reset" class="btn btn-primary">Submit</button>
                                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form> 
                        
                        </div>
                        end::Portlet-->
                
                        <!--begin::Portlet-->
                        <!-- <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        3 Columns Horizontal Form Layout
                                    </h3>
                                </div>
                            </div>
                        
                            <form class="kt-form kt-form--label-right">
                                <div class="kt-portlet__body">
                                    <div class="form-group row form-group-marginless kt-margin-t-20">
                                        <label class="col-lg-1 col-form-label">Full Name:</label>
                                        <div class="col-lg-3">
                                            <input type="email" class="form-control" placeholder="Full name">
                                            <span class="form-text text-muted">Please enter your full name</span>
                                        </div>
                                        <label class="col-lg-1 col-form-label">Email:</label>
                                        <div class="col-lg-3">
                                            <input type="email" class="form-control" placeholder="Email">
                                            <span class="form-text text-muted">Please enter your email</span>
                                        </div>
                                        <label class="col-lg-1 col-form-label">Username:</label>
                                        <div class="col-lg-3">
                                            <div class="input-group">
                                                  <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <span class="form-text text-muted">Please enter your username</span>
                                        </div>
                                    </div>	  
                
                                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                
                                    <div class="form-group row form-group-marginless">
                                        <label class="col-lg-1 col-form-label">Contact:</label>
                                        <div class="col-lg-3">
                                            <input type="email" class="form-control" placeholder="Enter contact number">
                                            <span class="form-text text-muted">Please enter your contact</span>
                                        </div>
                                        <label class="col-lg-1 col-form-label">Fax:</label>
                                        <div class="col-lg-3">
                                            <div class="kt-input-icon">
                                                <input type="text" class="form-control" placeholder="Fax number">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-info-circle"></i></span></span>
                                            </div>
                                            <span class="form-text text-muted">Please enter fax</span>
                                        </div>
                                        <label class="col-lg-1 col-form-label">Address:</label>
                                        <div class="col-lg-3">
                                            <div class="kt-input-icon">
                                                <input type="text" class="form-control" placeholder="Enter your address">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                                            </div>
                                            <span class="form-text text-muted">Please enter your address</span>
                                        </div>
                                    </div>	  
                
                                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">Postcode:</label>
                                        <div class="col-lg-3">
                                            <div class="kt-input-icon">
                                                <input type="text" class="form-control" placeholder="Enter your postcode">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                                            </div>
                                            <span class="form-text text-muted">Please enter your postcode</span>
                                        </div>
                                        <label class="col-lg-1 col-form-label">User Group:</label>
                                        <div class="col-lg-3">
                                            <div class="kt-radio-inline">
                                                <label class="kt-radio kt-radio--solid">
                                                    <input type="radio" name="example_2" checked value="2"> Sales Person
                                                    <span></span>
                                                </label>
                                                <label class="kt-radio kt-radio--solid">
                                                    <input type="radio" name="example_2" value="2"> Customer
                                                    <span></span>
                                                </label>
                                            </div>
                                            <span class="form-text text-muted">Please select user group</span>
                                        </div>
                                    </div>	               
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-5"></div>
                                            <div class="col-lg-7">
                                                <button type="reset" class="btn btn-brand">Submit</button>
                                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                           
                        </div> -->
                        <!--end::Portlet-->
                    </div>
                </div>		
    <!-- end:: Content -->				</div>