.headerbox {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0px 25px 0px 25px;
}

.button {
  border: none;
  text-decoration: none;
  padding: 8px 15px 9px 12px;
  background-color: #2e3e4e;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
}

.settingsbox {
  margin: 0px 25px 0px 25px;
  padding: 15px;
  margin-top: 5px;
  min-height: 500px;
  background-color: #ffffff;
}

#selectPaymentcycle {
  padding-left: 35px
}

label {
  display: flex;
  margin-top: 5px;
}

h6 {
  margin: 25px 20px 10px 20px;
}

.mainbox {
  margin: 0px 25px 0px 25px;
  padding: 15px;
  margin-top: 5px;
  min-height: 500px;
  background-color: #ffffff;
}

.footerbox {
  margin: 0px 25px 0px 25px;
  padding: 15px;
  margin-top: 5px;
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.customFooterbox {
  margin: 15px 25px;
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.statusCard {
  padding: 5px;
  margin: 0px 5px 0px 5px;
  border-radius: 2px;
  max-width: fit-content;
  min-height: min-content;
  color: white;
  font-weight: 500;
}

.fristcard {
  display: flex;
  align-items: center;

  .head {
    font-size: 16px;
  }
}

.secondcard {
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  padding: 10px 20px 20px 20px;
  align-items: center;

  .row {
    margin: 10px;
  }

  .cardlabel {
    font-weight: 500;
    min-width: 100px;
  }

  .cardvalue {
    font-weight: 500;
    min-width: 120px;
    margin-left: 10px;
  }
}

.selectorSubDiv {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ejsTabContainer {
  background-color: #fcfdfddc;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.saveDiv {
  padding: 20px 0px 15px 0px;
  margin-top: 10px;
  border-top: 1px solid #dddede;
  margin-left: 5px;
  margin-right: 5px;
}

.btnColorAll {
  background-color: #2e3e4e !important;
  color: #f5f5f6 !important;
  font-weight: 500 !important;
}

.btndata {
  margin-bottom: 0px;
  font-size: 15px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}

.empName {
  cursor: pointer;
  color: blue;
  border-bottom: 1px solid #396dff;
}

.EmpDetailcard {}

.basicsalcard {
  padding: 10px;

}

/* Style for the table */
.table {
  width: 100%;
}

/* Style for table rows */
.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Style for table data (labels) */
.table-data-label {
  font-weight: bold;
}

.flexstyle {
  display: flex;
  align-items: baseline;

}

.labSec {
  margin-right: 10px;
}

.labCont {
  font-size: larger;
  font-weight: 500;
}

.labMonth {
  font-size: small;
  font-weight: 500;
}

.salTable {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
}

.salTable tr {
  height: 10px;
}

.salTable td {
  padding: 4px;
}

// .salTable tr:nth-child(even) {
//   background-color: rgb(236, 234, 235);
// }

.salTable td:nth-child(2) {
  text-align: left;
}

.salTable thead th {
  text-align: left;
}

.sslcard {
  margin-top: 10px;
  padding: 15px;
  height: fit-content;
  border-radius: 5px;
  background-color: #fbf6f8;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.PayslipCard {
  display: flex;
  justify-content: center;
}

.PayslipTb {
  margin-top: 10px;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}

.PayslipTb tr {
  height: 20px;
  padding: 15px;
}

.PayslipTb th {
  text-align: center;
}

.PayslipTb td {
  padding: 5px 5px;
}

.PayslipTb td:nth-child(3) {
  text-align: right;
}

.PayslipTb td:nth-child(2) {
  text-align: center;
}

.tbPlaySlip {
  text-align: center;
  font-size: medium;
  font-weight: 600;
  background-color: #eeebec;
}

.tbMainHd {
  padding-left: 20px;
  font-weight: 500;
  font-size: small;
  background-color: #f7cedf;
}

.borderCard {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10px;
  border-radius: 3px;
}

.headerA {
  font-size: 14px;
  margin-bottom: 1px;
  font-weight: 400;
}

.headerB {
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 400;
}

.fullrow {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.subPay {
  text-align: center;
  margin-top: 15px;
}

.margdtl {
  margin-left: 20px;
}

.paymentMethodTable {
  width: 100%;
  border-collapse: collapse;
}

.paymentMethodTable th,
.paymentMethodTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.paymentMethodTable th {
  background-color: #f2f2f2;
}

.paymentMethodTable tr:hover {
  background-color: #f5f5f5;
}

.headerRow {
  background-color: #f2f2f2;
}

.e-upload .e-file-select-wrap,
.e-bigger.e-small .e-upload .e-file-select-wrap {
  padding: 0;
}

.e-upload-files .e-upload-file-list {
  display: none;
}

// .e-btn{
//   width: 110px;
// }
$primary: #5628EE;
$lightGrey: #99A3BA;

.switch {
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;

  input {
    display: none;

    &+span {
      padding-left: 50px;
      min-height: 24px;
      line-height: 24px;
      display: block;
      color: $lightGrey;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      transition: color .3s ease;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 12px;
      }

      &:before {
        top: 0;
        left: 0;
        // width: 42px;
        // height: 24px;
        width: 38px;
        height: 18px;
        background: #E4E8EE;
        transition: all .3s ease;
      }

      &:after {
        // width: 18px;
        // height: 18px;
        width: 12px;
        height: 12px;
        background: #fff;
        top: 3px;
        left: 3px;
        box-shadow: 0 1px 3px rgba(#121621, .1);
        transition: all .45s ease;
      }

      em {
        width: 8px;
        height: 7px;
        background: $lightGrey;
        position: absolute;
        left: 8px;
        bottom: 7px;
        border-radius: 2px;
        display: block;
        z-index: 1;
        transition: all .45s ease;

        &:before {
          content: '';
          width: 2px;
          height: 2px;
          border-radius: 1px;
          background: #fff;
          position: absolute;
          display: block;
          left: 50%;
          top: 50%;
          margin: -1px 0 0 -1px;
        }

        &:after {
          content: '';
          display: block;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border: 1px solid $lightGrey;
          border-bottom: 0;
          width: 6px;
          height: 4px;
          left: 1px;
          bottom: 6px;
          position: absolute;
          z-index: 1;
          transform-origin: 0 100%;
          transition: all .45s ease;
          transform: rotate(-35deg) translate(0, 1px);
        }
      }

      strong {
        font-weight: normal;
        position: relative;
        display: block;
        top: 1px;

        &:before,
        &:after {
          font-size: 14px;
          font-weight: 500;
          display: block;
          font-family: 'Mukta Malar', Arial;
          -webkit-backface-visibility: hidden;
        }

        &:before {
          content: 'Unlocked';
          transition: all .3s ease .2s;
        }

        &:after {
          content: 'Locked';
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 0;
          color: $primary;
          transition: all .3s ease;
          transform: translate(2px, 0);
        }
      }
    }

    &:checked {
      &+span {
        &:before {
          background: #e91e63;
        }

        &:after {
          background: #fff;
          transform: translate(18px, 0);
        }

        em {
          transform: translate(18px, 0);
          background: $primary;

          &:after {
            border-color: $primary;
            transform: rotate(0deg) translate(0, 0);
          }
        }

        strong {
          &:before {
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
            transform: translate(-2px, 0);
          }

          &:after {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
            transition: all .3s ease .2s;
          }
        }
      }
    }

    &:disabled {
      &+span {
        padding-left: 50px;
        min-height: 24px;
        line-height: 24px;
        display: block;
        color: $lightGrey;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        transition: color .3s ease;

        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          border-radius: 12px;
        }

        &:before {
          top: 0;
          left: 0;
          // width: 42px;
          // height: 24px;
          width: 38px;
          height: 18px;
          background: #E4E8EE;
          transition: all .3s ease;
        }

        &:after {
          // width: 18px;
          // height: 18px;
          width: 12px;
          height: 12px;
          background: #fff;
          top: 3px;
          left: 3px;
          box-shadow: 0 1px 3px rgba(#121621, .1);
          transition: all .45s ease;
        }

        em {
          width: 8px;
          height: 7px;
          background: $lightGrey;
          position: absolute;
          left: 8px;
          bottom: 7px;
          border-radius: 2px;
          display: block;
          z-index: 1;
          transition: all .45s ease;

          &:before {
            content: '';
            width: 2px;
            height: 2px;
            border-radius: 1px;
            background: #fff;
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            margin: -1px 0 0 -1px;
          }

          &:after {
            content: '';
            display: block;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px solid $lightGrey;
            border-bottom: 0;
            width: 6px;
            height: 4px;
            left: 1px;
            bottom: 6px;
            position: absolute;
            z-index: 1;
            transform-origin: 0 100%;
            transition: all .45s ease;
            transform: rotate(-35deg) translate(0, 1px);
          }
        }

        strong {
          font-weight: normal;
          position: relative;
          display: block;
          top: 1px;

          &:before,
          &:after {
            font-size: 14px;
            font-weight: 500;
            display: block;
            font-family: 'Mukta Malar', Arial;
            -webkit-backface-visibility: hidden;
          }

          &:before {
            content: 'Unlocked';
            transition: all .3s ease .2s;
          }

          &:after {
            content: 'Locked';
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
            color: $primary;
            transition: all .3s ease;
            transform: translate(2px, 0);
          }
        }
      }
    }
  }
}

// .form-row{
//   gap:5px
// }
.form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
}

.form-item {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.form-item label {
  margin-bottom: 5px;
}


.accordion-content {
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: -1px;
  /* to overlap the border */
}


.acordbutton {
  padding: 0px;
  border: none;
  background: none;
  margin-right: 5px;
  margin-left: 20px;
  font-weight: 600;
  color: rgb(74, 74, 74);
}

.employee-listing {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.employee-row {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.employee-row:last-child {
  border-bottom: none;
}

.employee-checkbox {
  width: 50px;
  display: flex;
  justify-content: center;
}

.employee-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.employee-details span {
  width: 50%;
  text-align: left;
}


.custom-emp-payroll-modal {
  width: 650px !important;
  max-width: 650px;
  margin: auto;
  background-color: #f8f9fa;
  /* Adjust background color if needed */
}

.custom-modal-header {
  background-color: #343a40;
  color: white;
}

.custom-modal-body {
  padding: 20px;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999; /* Adjust the z-index to a very high value */
}

.custom-modal {
  background-color: #fff;
  max-width: 1050px;
  width: 100%;
  max-height: 650px;
  height: 100%;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.custom-adj-modal {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  max-height: 650px;
  height: 100%;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.custom-bank-modal {
  background-color: #fff;
  max-width: 650px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.custom-modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: white;
}

.custom-modal-body {
  padding: 10px;
}

/* Close button styles */
.custom-modal-header .close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.foreye {
  padding: 0;
  border: none;
  background: none;
  margin-right: 10px;
  color: dimgrey;
}

.approverDivCW {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  margin-top: 10px;
  margin-left: 20px;
}

.approverHeader {
  color: #212529;
  padding: 6px 10px 5px;
  border-bottom: 1px solid #ced4da;
}

.approverBody {
  padding: 4px 11px 10px;
}

.custbtn {
  /* Basic styling */
  display: inline-block;
  padding: 5px 5px;
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e91e63;
  /* Primary blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  /* Adding a box-shadow for a 3D effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custbtn:active {
  background-color: #004085;
  /* Even darker blue */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(0);
}

//Timeline tracker
.step-container {
  position: relative;
  margin-bottom: 40px;
}

.step {
  display: flex;
  align-items: center;
  margin: 2px 0px;
  background-color: #f1f1f1;
  padding: 10px;
  width: 650px;
}

.step .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e91e63;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
}

.step.completed .circle {
  background-color: #e91e63;
}

.step .label {
  margin-left: 20px;
}

.line {
  position: absolute;
  left: 20px;
  width: 1px;
  height: 40px;
  background-color: #c7c7c7;
  z-index: 0;
}

.step-container:last-child .line {
  display: none;
}

.details-table {
  margin-top: 5px;
}

.details-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.details-table th,
.details-table td {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: left;
}

.details-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.details-table td {
  background-color: #fff;
  color: #555;
}

.details-table tr:nth-child(even) td {
  background-color: #f9f9f9;
}
.selectAll-class{
  display: flex;
  align-items: center;
  gap:2px
}
// Skeleton Loading
/* styles.css */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-text {
  height: 1em;
  margin: 0.5em 0;
}

.skeleton-box {
  height: 100px;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 4px;
}

.custlink {
  color: #007bff !important;
  text-decoration: none;
  font-size: 12px;
  text-decoration: underline !important;

}

.custlink:hover {
  text-decoration: none !important;
  cursor: pointer;
}
.salary-row {
  border-top: 1px solid #ccc;
}

.salary-row:first-of-type {
  border-top: none;
}

.salary-row td {
  padding: 5px;
}
.approverBody{
  padding: 4px 11px 10px;
}

.approve{
  padding: 5px 7px;
  color: #43a047;
  font-weight: 600;
}

.pending{
  padding: 5px 7px;
  color: #ff77a9;
  font-weight: 600;
}

.decline{
  padding: 5px 7px;
  color: #e53935;
  font-weight: 600;
}
.headerA{
  font-size: 15px;
  margin-bottom: 1px;
  font-weight: 400;
}

.headerB{
  font-size: 18px;
    margin-bottom: 0px;
    font-weight: 400;
}

.borderCard{
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.active {
  background-color: #c1c1c1;
  /* Add other styles as needed */
}
