<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
       <!-- begin:: Subheader -->
    
        <!-- end:: Subheader -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header" style="color:black;font-size: 18px;">
                        All Tasks 
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Task</th>
                           
                            <th></th>
                            <th>Assigned To</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr data-toggle="modal"  style="cursor: pointer;">
                            <td style="text-align:center;margin-top:5px;width:60px"><label class="kt-checkbox">
								<input type="checkbox"> 
								<span></span>
							</label></td>
                            <td data-target="#Modal">TASK 1</td>
                          
                            <td></td>
                            <!-- <td>System Programming</td>
                            <td>Smatv socket refixing 40</td> -->
                            <td><img src="https://contacts.zoho.com/file?ID=698664093&amp;fs=thumb" style="width: 40px;height: 40px;border-radius:50%;"></td>
           
                        </tr>
                        <tr>
                                <td style="text-align:center;margin-top:5px;width:60px"><label class="kt-checkbox">
                                        <input type="checkbox"> 
                                        <span></span>
                                    </label></td>
                            <td>TASK 2</td>
                          
                            <td></td>
                            <!-- <td>System Programming</td>
                            <td>Grms testing</td> -->
                            <td><img src="https://contacts.zoho.com/file?ID=698664093&amp;fs=thumb" style="width: 40px;height: 40px;border-radius:50%;"></td>
                        </tr>
                        <tr>
                                <td style="text-align:center;margin-top:5px;width:60px"><label class="kt-checkbox">
                                        <input type="checkbox"> 
                                        <span></span>
                                    </label></td>
                            <td>TASK 3</td>
                            
                            <td></td>
                            <!-- <td>Speaker Marking</td>
                            <td>Grms testing</td> -->
                            <td><img src="https://contacts.zoho.com/file?ID=698664093&amp;fs=thumb" style="width: 40px;height: 40px;border-radius:50%;"></td>
                            
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                       
                         
                              <div class="" style=" box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
                              padding-left: 26px;
                             ">
                                
                                  <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist" style="border-bottom: none;
                                  margin-bottom: 0px;"> 
                                      <li class="nav-item status">
                                          <a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_1" role="tab" aria-selected="false">
                                                         Total
                                                        <div style="text-align: center">4</div>
                                                        </a>
                                         
                                      </li>
                                      <li class="nav-item status" >
                                          <a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_2" role="tab" aria-selected="true">
                                                                 Completed
                                                                 <div style="text-align: center">3</div>
                                                                </a>
                                        

                                      </li>
                                      <!-- <li class="nav-item status">
                                          <a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_3" role="tab" aria-selected="false">
                                                           Open
                                                           <div style="text-align: center">1</div>
                                                        </a>
                                     

                                      </li> -->
                                  
                                    
                                     
                                  </ul>
                              </div>
                         
                         
                        </div>
                      </div>
            </div>
        
    </div>
    
    </div>
    
    
</div>


    