.table thead th{
    font-size: 16px;
    
}
// padding: 0px 15px !important;
// background-color: #F5F5F5 !important;
// margin-bottom: 0px !important;

.nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover{
    border:none;
    background-color: #F5F5F5 !important;
}
.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link, .nav-tabs.nav-tabs-line a.nav-link{
    padding: 10px 20px;
    margin-right: 5px !important;
}
.modal-dialog {
    margin-right: -19px !important;
    top:43px;
  }
  