.pad2515{
  box-shadow: 0 2px 2px rgb(0 0 0 / 3%), 0 1px 0 rgb(0 0 0 / 3%);
  background: #fff;
  padding: 25px 15px;
  margin-right: 0px;
  margin-left: 0px;
}

.matIconSize{
  font-size: 20px;
  height: 0px !important;
  width: 18px !important;
  cursor: pointer;
}

.matIcontext{
  margin-bottom: 0px;
  font-size: 13px;
  padding-left: 5px;
}

.matIconDiv{
  display: flex;
}

.teamMemberTxt{
  color: #333c43;
  font-size: 1.625rem;
  font-family: Source Sans Pro,sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
}

.teamDiv{
  text-align: end;
}

.btnColorAll{
  background-color: #2e3e4e !important;
  color: #f5f5f6 !important;
  font-weight: 500 !important;
  padding: 3px 8px !important;
}

.marTopnew{
  margin-top: 5px;
}

.padreq{
  padding: 5px 6px !important;
}

.CardRow{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  padding: 0px 12px 20px;
  margin-top: 15px;
}

.addbtndiv{
  text-align: end;
  padding: 10px 0px;
}

.rowImp{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.formCs{
  width: -webkit-fill-available;
  padding-top: 20px;
}

.topCss{
  padding-top: 16px;
}

.marLeft20{
  margin-left: 20px;
}

.errorTxt{
  color: #f35b5b;
  background: none;
  border: none;
  padding: 3px;
  margin-bottom: 0px;
}

.textBtm{
  font-size: 1.25rem;
  font-family: Source Sans Pro,sans-serif;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.labelTxt{
  font-family: Source Sans Pro,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #475056;
  margin-bottom: 0px;
}

.footerDiv{
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  margin-top: 20px;
}

.height{
  height: 152px;
  overflow: auto;
  margin-top: 9px;
}
